p {
  margin-top: 0;
  margin-bottom: 0rem;
}

.golder {
  color: #d7bd37;
}

.massenger_futer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 198px;
  width: 100%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.note_futer {
  max-width: 346px;
  width: 100%;
}

.main_content {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  font-size: 16;
  color: #353636;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.02em;
}

.text {
  line-height: 25px;
}

.heading_Button a {
  text-decoration: none;
}

.header {
  background-color: #4a69ba;
  color: #ffffff;
}

.header .wrapper {
  max-width: 1366px;
  width: 90%;
  margin: auto;
  padding: 100px 0;
}

.header .wrapper .h1 {
  max-width: 583px;
  width: 100%;
  font-weight: 600;
  font-size: 45px;
  padding-top: 80px;
  padding-bottom: 35px;
}

.header .wrapper .three_bg {
  position: absolute;
  right: 69%;
  top: 72px;
  width: 42%;
}

.header .wrapper .zigzag {
  height: 8px;
}

.header .wrapper .text {
  font-size: 18px;
  padding-bottom: 30px;
}

.header .wrapper .illustration {
  position: relative;
  left: 70px;
}

.header .wrapper .illustration img {
  width: 120%;
}

.header .wrapper .gold {
  background: #ba8c4a;
  border: #ba8c4a;
}

.header .wrapper .gold:hover {
  background: #d0ab77;
  border: #d0ab77;
}

.header .wrapper .heading_Button {
  margin-top: 30px;
}

.two_window {
  max-width: 1366px;
  width: 90%;
  margin: auto;
  padding: 100px 0;
}

.two_window .incrase {
  font-size: 48px;
  color: #2196f3;
}

.two_window .heading {
  font-size: 37px;
  font-weight: 800;
}

.two_window .subtitle {
  padding-top: 26px;
  padding-bottom: 70px;
  font-size: 18px;
}

.two_window .benefits {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  grid-row-gap: 25px;
  grid-column-gap: 140px;
  margin-top: 30px;
  margin-bottom: 70px;
}

.two_window .benefits .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 3fr;
      grid-template-columns: 80px 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why {
  position: relative;
}

.why .dg_blue {
  background: #6ab8f7;
  height: 3px;
  width: 50%;
  position: absolute;
  left: 0;
  top: 0px;
}

.why .thee_window {
  max-width: 1366px;
  width: 90%;
  margin: auto;
  padding: 100px 0 100px 0;
}

.why .thee_window .fW {
  font-weight: 600;
}

.why .thee_window .heading {
  font-size: 20px;
  padding-bottom: 70px;
  position: relative;
  z-index: 2;
  color: #363535;
}

.why .thee_window .zigzag {
  width: inherit;
}

.why .thee_window .wrapper {
  position: relative;
  display: -ms-grid;
  display: grid;
  padding: 0 30px;
  min-height: 230px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  border-radius: 3px;
}

.why .thee_window .wrapper img {
  width: 100px;
  opacity: 0.7;
}

.why .thee_window .line {
  width: 111px;
  height: 3px;
  background: #2196f3;
  margin: 35px 0 80px 0;
}

.why .thee_window .heading_Button {
  margin-top: 40px;
}

.why .note {
  color: #655d5d;
}

.futer_main {
  background: #6ab8f7;
}

@media (max-width: 1440px) {
  .header {
    background-color: #4a69ba;
    color: #ffffff;
  }
  .header .wrapper {
    max-width: 1366px;
    width: 90%;
    margin: auto;
    padding: 80px 0;
  }
  .header .wrapper .three_bg {
    position: absolute;
    right: 69%;
    top: 8%;
    width: 41%;
  }
  .header .wrapper .text {
    font-size: 16px;
    padding-bottom: 25px;
  }
  .header .wrapper .illustration {
    top: 56px;
  }
  .header .wrapper .illustration img {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .header {
    background-color: #4a69ba;
    color: #ffffff;
  }
  .header .wrapper .zigzag {
    display: none;
  }
  .header .wrapper .h1 {
    padding-top: 40px;
    padding-bottom: 25px;
    font-size: 35px;
  }
  .header .wrapper .text {
    font-size: 16px;
    padding-bottom: 25px;
  }
  .header .wrapper .illustration {
    display: none;
  }
  .two_window {
    max-width: 1366px;
    width: 90%;
    margin: auto;
    padding: 80px 0;
  }
  .two_window .incrase {
    font-size: 38px;
  }
  .two_window .heading {
    font-size: 30px;
  }
  .two_window .subtitle {
    padding-top: 26px;
    padding-bottom: 40px;
  }
  .two_window .text {
    font-weight: 600;
  }
}

@media (max-width: 500px) {
  .header .wrapper {
    max-width: 1366px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
  }
  .header .wrapper .gold {
    margin-top: 20px;
  }
  .header .wrapper .text {
    padding-bottom: 15px;
  }
  .two_window {
    max-width: 1366px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
  }
  .two_window .incrase {
    font-size: 38px;
  }
  .two_window .heading {
    font-size: 30px;
  }
  .two_window .subtitle {
    padding-top: 26px;
    padding-bottom: 40px;
  }
  .two_window .text {
    font-weight: 600;
  }
  .two_window .benefits {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .why .thee_window {
    max-width: 1366px;
    width: 90%;
    margin: auto;
    padding: 40px 0 40px 0;
  }
  .why .thee_window .heading {
    font-size: 20px;
    padding-bottom: 40px;
    position: relative;
    z-index: 2;
    color: #363535;
  }
  .why .thee_window .wrapper {
    padding: 0 15px;
    margin-bottom: 25px;
    min-height: 160px;
    margin-bottom: 25px;
  }
  .why .thee_window .wrapper img {
    width: 60px;
  }
  .why .thee_window .line {
    margin: 25px 0 40px 0;
  }
}
