                        * {
                            padding: 0px;
                            margin: 0px;
                        }
                        
                        p {
                            padding: 0px;
                            margin: 0px;
                        }
                        
                        .subtitle_sale_on_start16 {
                            font-size: 16px;
                        }
                        
                        .subtitle_sale_on_start20 {
                            font-size: 20px;
                        }
                        
                        .text_sale_on_start14 {
                            font-size: 14px;
                        }
                        
                        .futer_sale_on_start_mobil {
                            display: none;
                        }
                        
                        body {
                            min-width: 0 !important;
                            background-color: white;
                        }
                        
                        .wrapper-text p {
                            margin-bottom: 0px;
                        }
                        
                        .wrapper-text {
                            font-size: 16px;
                            color: #5E7491;
                            line-height: normal;
                            overflow: hidden;
                        }
                        
                        .base-width {
                            background-color: transparent;
                            margin: 0;
                            max-width: none;
                            min-width: 0;
                        }
                        
                        .catalogue {
                            padding: 0;
                        }
                        
                        .cms-page .col-middle {
                            background: none;
                            border: none;
                            box-shadow: none;
                            padding: 0 !important;
                        }
                        
                        .catalogue h1 {
                            display: none;
                        }
                        
                        #content {
                            margin-top: 0;
                        }
                        
                        .wrapper-text ul li {
                            list-style-type: none !important;
                        }
                        
                        .wrapper-text table td {
                            padding: 20px;
                        }
                        
                        .simple-breadcrumbs {
                            display: none !important;
                        }
                        /* --- */
                        
                        * {
                            padding: 0;
                            margin: 0
                        }
                        
                        p {
                            margin-bottom: 0px;
                            margin-top: 0px;
                        }
                        
                        hr {
                            border: 0;
                            height: 1px;
                            border-bottom: .1px solid #c7dbff;
                            line-height: 1px;
                            padding: 0;
                            margin: 11px 0 13px;
                        }
                        
                        .bg_sale_on_start {
                            background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/187864/content_1029_1.png) no-repeat 73% 55px / 586px, url(https://www.pulscen.ru/system/ckeditor_assets/pictures/187863/content_group_76_1.png) no-repeat 100% 0% / contain;
                            margin: auto;
                            max-width: 1920px;
                            font-family: 'Open Sans', sans-serif;
                            box-sizing: border-box;
                            color: #424B5E;
                        }
                        
                        .bg_sale_on_start a {
                            text-decoration: none;
                            color: #424B5E !important;
                        }
                        
                        .content_sale_on_start {
                            max-width: 1300px;
                            margin: auto;
                            padding: 84px;
                            padding-bottom: 140px;
                            padding-top: 40px;
                        }
                        
                        .text_promt {
                            padding-top: 116px;
                        }
                        /* --------heading_sale_on_start----------- */
                        
                        .wrapper_heading_sale_on_start {
                            display: grid;
                            grid-template-columns: 1fr;
                        }
                        
                        .heading_sale_on_start {
                            font-weight: 800;
                            font-size: 50px;
                            line-height: 65px;
                            letter-spacing: 0.02em;
                            color: #424B5E;
                            padding-bottom: 30px;
                            padding-top: 115px;
                        }
                        
                        .subtitle_heading_sale_on_start {
                            letter-spacing: 0.02em;
                            color: #424B5E;
                            width: 377px;
                            line-height: 23px;
                        }
                        
                        .heading_sale_on_start_batton {
                            max-width: 300px;
                            margin: 40px 0px 0px 0px;
                            display: inline-block !important;
                            padding: 18px 7px !important;
                            font-size: 16px !important;
                            font-style: normal !important;
                            white-space: normal !important;
                            color: rgb(255, 255, 255) !important;
                            border: 1px dashed #EA5757;
                            background: #EA5757;
                            border-radius: 5px !important;
                            outline: 0 !important;
                            cursor: pointer !important;
                            -webkit-transition: background-color .2s, color .2s;
                            transition: background-color .2s, color .2s;
                            text-decoration: none !important;
                            letter-spacing: 0.02em;
                            display: grid;
                            text-align: center;
                        }
                        
                        .plashka_heading_sale_on_start {
                            background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/185417/content_frame_21_1.png) no-repeat 100% / cover;
                            padding: 31px;
                            justify-self: end;
                            border-radius: 10px;
                            height: fit-content;
                            padding: 31px 152px 33px 43px;
                        }
                        
                        .line_plashka_heading_sale_on_start {
                            width: 80px;
                            height: 2px;
                            background: #FFFFFF;
                            margin: 28px 0px 25px 0px;
                        }
                        
                        .heading_plashka_heading_sale_on_start {
                            font-weight: 800;
                            letter-spacing: 0.02em;
                            color: #FFFFFF;
                            padding-top: 11px;
                            line-height: 30px;
                        }
                        
                        .text_plashka_heading_sale_on_start {
                            letter-spacing: 0.02em;
                            color: #FFFFFF;
                        }
                        
                        .heading_plashka_heading_sale_on_start20 {
                            font-size: 40px;
                        }
                        /* --------arrow_sale_on_start----------- */
                        
                        .arrow_sale_on_start {
                            padding-top: 150px;
                            padding-bottom: 115px;
                        }
                        /* --------tarif_sale_on_start----------- */
                        
                        .heading_tarif_sale_on_start {
                            font-weight: 800;
                            letter-spacing: 0.02em;
                            color: #424B5E;
                        }
                        
                        .subtitle_tarif_sale_on_start {
                            letter-spacing: 0.02em;
                            color: #424B5E;
                            padding: 30px 0px 60px 0px;
                            width: 500px;
                        }
                        
                        .blocks_tarif_sale_on_start {
                            grid-column-gap: 66px;
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            grid-row-gap: 41px;
                            margin-top: 44px;
                        }
                        
                        .cart_tarif_sale_on_start {
                            display: grid;
                            grid-template-columns: .04fr 1fr;
                            grid-column-gap: 20px;
                            align-items: center;
                        }
                        
                        .collMe_futer_sale_on_start {
                            max-width: 300px;
                            margin: 0px 0px 0px 0px;
                            display: inline-block !important;
                            font-size: 14px !important;
                            font-weight: 600;
                            font-style: normal !important;
                            white-space: nowrap !important;
                            color: #5E7491 !important;
                            border-radius: 3px !important;
                            outline: 0 !important;
                            cursor: pointer !important;
                            -webkit-transition: background-color .2s, color .2s;
                            transition: background-color .2s, color .2s;
                            text-decoration: none !important;
                            display: flex !important;
                            align-items: center !important;
                            letter-spacing: 0.05em;
                        }
                        
                        .bg_futer_sale_on_start {
                            background: #D6EBF9;
                            color: #5E7491;
                        }
                        
                        .futer_sale_on_start {
                            max-width: 1468px;
                            margin: auto;
                            display: grid;
                            grid-template-columns: 1.5fr 1fr;
                            padding: 30px;
                            padding-left: 79px;
                            padding-right: 59px;
                            box-sizing: border-box;
                        }
                        
                        .heading_futer_sale_on_start {
                            letter-spacing: 0.04em;
                            padding-bottom: 30px;
                        }
                        
                        .collMeborder_futter_tolbar_complex {
                            border-bottom: 1px dashed #424B5E;
                        }
                        
                        .text_futter_tolbar_complex {
                            font-size: 14px;
                            letter-spacing: 0.03em;
                            padding-bottom: 20px;
                        }
                        
                        .text_futter_tolbar_complex:hover {
                            color: rgb(6, 17, 41);
                        }
                        
                        .text_futer_sale_on_start {
                            padding-bottom: 20px;
                        }
                        
                        .futer_sale_on_startPL {
                            padding-left: 10px;
                        }
                        
                        .wraper_prompt {
                            display: grid;
                            grid-template-columns: 1fr 1.5fr;
                            align-items: end;
                            justify-items: center;
                        }
                        
                        .logo_heading_sale_on_start {
                            width: 124px;
                        }
                        
                        .wrapper_tarif_sale_on_start {
                            margin-top: 131px;
                            margin-bottom: 31px;
                        }
                        
                        .insaid_text {
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 0.02em;
                            color: #424B5E;
                            padding-left: 127px;
                        }
                        
                        .otstup {
                            padding-top: 23px;
                            padding-bottom: 7px;
                        }
                        
                        .heading_promt_batton {
                            max-width: 300px;
                            margin: 40px 0px 0px 126px;
                            display: inline-block !important;
                            padding: 18px 91px !important;
                            font-size: 16px !important;
                            font-style: normal !important;
                            white-space: normal !important;
                            color: #EA5757 !important;
                            border: 2px solid #EA5757;
                            border-radius: 5px !important;
                            outline: 0 !important;
                            cursor: pointer !important;
                            -webkit-transition: background-color .2s, color .2s;
                            transition: background-color .2s, color .2s;
                            text-decoration: none !important;
                            letter-spacing: 0.02em;
                            text-align: center;
                            font-weight: 600;
                        }
                        
                        .sogl_futter_tolbar_complex {
                            display: grid;
                            height: fit-content;
                            justify-content: end;
                        }
                        
                        @media(max-width:1800px) {
                            .bg_sale_on_start {
                                background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/187864/content_1029_1.png) no-repeat 86% 55px / 595px, url(https://www.pulscen.ru/system/ckeditor_assets/pictures/187863/content_group_76_1.png) no-repeat 100% 0% / contain;
                                margin: auto;
                                max-width: 1920px;
                                font-family: 'Open Sans', sans-serif;
                                box-sizing: border-box;
                                color: #424B5E;
                            }
                            .heading_sale_on_start {
                                font-size: 3vw;
                                line-height: 5vw
                            }
                        }
                        
                        @media(max-width:1450px) {
                            .heading_sale_on_start {
                                font-size: 3.5vw;
                            }
                            .plashka_heading_sale_on_start {
                                justify-self: baseline;
                            }
                            .wrapper_heading_sale_on_start {
                                grid-template-columns: 1fr;
                            }
                            .plashka_heading_sale_on_start {
                                margin-top: 40px;
                            }
                            .bg_sale_on_start {
                                background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/187864/content_1029_1.png) no-repeat 99% 11% / 44%, url(https://www.pulscen.ru/system/ckeditor_assets/pictures/187863/content_group_76_1.png) no-repeat 100% 0% / contain;
                            }
                            .arrow_sale_on_start {
                                padding-top: 70px;
                                padding-bottom: 60px;
                            }
                            .blocks_tarif_sale_on_start {
                                grid-column-gap: 46px;
                            }
                            .content_sale_on_start {
                                padding-bottom: 100px;
                            }
                        }
                        
                        @media(max-width:1264px) {
                            /* .bg_sale_on_start {
            background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/187864/content_1029_1.png) no-repeat 100% 175px / 38%, url(https://www.pulscen.ru/system/ckeditor_assets/pictures/187863/content_group_76_1.png) no-repeat 100% 0% / contain;
        } */
                            .blocks_tarif_sale_on_start {
                                grid-column-gap: 10px;
                            }
                        }
                        
                        @media(max-width:1180px) {
                            .blocks_tarif_sale_on_start {
                                grid-template-columns: repeat(1, 1fr);
                            }
                        }
                        
                        @media(max-width:1024px) {
                            .bg_sale_on_start {
                                background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/187864/content_1029_1.png) no-repeat 95% 3% / 44%, url(https://www.pulscen.ru/system/ckeditor_assets/pictures/187947/content_group_1024.png) no-repeat 100% 0% / contain;
                            }
                            .heading_sale_on_start {
                                padding-top: 64px;
                            }
                            .content_sale_on_start {
                                padding: 42px;
                                padding-bottom: 79px;
                            }
                            .wrapper_tarif_sale_on_start {
                                margin-top: 84px;
                            }
                            .text_promt {
                                padding-top: 50px;
                            }
                            .insaid_text {
                                padding-left: 101px;
                            }
                            .heading_promt_batton {
                                margin: 28px 0px 0px 99px;
                            }
                            .futer_sale_on_start {
                                padding-left: 40px;
                                padding: 40px;
                            }
                            .subtitle_sale_on_start20 {
                                font-size: 18px;
                            }
                            .blocks_tarif_sale_on_start {
                                grid-row-gap: 31px;
                                margin-top: 56px;
                            }
                        }
                        /* @media(max-width:955px) {
        .futer_sale_on_start {
            grid-template-columns: 1fr;
            text-align: center;
        }
        .collMe_futer_sale_on_start {
            max-width: 300px;
            margin: 0px 0px 0px 0px;
            display: inline-block !important;
            font-size: 14px !important;
            font-weight: 600;
            font-style: normal !important;
            white-space: nowrap !important;
            color: #424B5E !important;
            border-radius: 3px !important;
            outline: 0 !important;
            cursor: pointer !important;
            -webkit-transition: background-color .2s, color .2s;
            transition: background-color .2s, color .2s;
            text-decoration: none !important;
            align-items: center !important;
            letter-spacing: 0.05em;
            text-align: center;
        }
        .sogl_futter_tolbar_complex {
            justify-content: center;
        }
    } */
                        /* @media(max-width:918px) {
        .bg_sale_on_start {
            background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/187864/content_1029_1.png) no-repeat 50% 102px / 276px, url(https://www.pulscen.ru/system/ckeditor_assets/pictures/187863/content_group_76_1.png) no-repeat 98% 0% / 173%;
        }
        .heading_sale_on_start {
            padding-top: 43px;
        }
        .futer_sale_on_start {
            grid-template-columns: 1fr;
            grid-gap: 50px;
        }
    } */
                        
                        @media(max-width:900px) {
                            /* .heading_sale_on_start {
            font-size: 6vw;
            LINE-HEIGHT: 8vw;
        } */
                        }
                        
                        @media(max-width:920px) {
                            .bg_sale_on_start {
                                background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/187864/content_1029_1.png) no-repeat 102% 6% / 42%, url(https://www.pulscen.ru/system/ckeditor_assets/pictures/187948/content_group_708.png) no-repeat 100% 0% / contain;
                            }
                            .plashka_heading_sale_on_start {
                                background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/185418/content_frame_21_2_2.png) no-repeat 100% / cover;
                                padding: 31px;
                                justify-self: baseline;
                                border-radius: 10px;
                                height: fit-content;
                                padding: 31px 43px 33px 43px;
                            }
                            .subtitle_tarif_sale_on_start {
                                width: 100%;
                            }
                            .heading_sale_on_start {
                                padding-top: 30px;
                            }
                            .inside_img {
                                width: 182px;
                                width: 182px;
                                padding-top: 76px;
                            }
                            .wraper_prompt {
                                display: grid;
                                grid-template-columns: 1fr 2fr;
                                align-items: start;
                                justify-items: start;
                            }
                            .insaid_text {
                                padding-left: 0px;
                            }
                            .heading_promt_batton {
                                margin: 22px 0px 0px 0px;
                            }
                            .futer_sale_on_start {
                                grid-template-columns: 1fr;
                                text-align: center;
                            }
                            .collMe_futer_sale_on_start {
                                max-width: 300px;
                                margin: 0px 0px 0px 0px;
                                display: inline-block !important;
                                font-size: 14px !important;
                                font-weight: 600;
                                font-style: normal !important;
                                white-space: nowrap !important;
                                border-radius: 3px !important;
                                outline: 0 !important;
                                cursor: pointer !important;
                                -webkit-transition: background-color .2s, color .2s;
                                transition: background-color .2s, color .2s;
                                text-decoration: none !important;
                                align-items: center !important;
                                letter-spacing: 0.05em;
                                text-align: center;
                            }
                            .sogl_futter_tolbar_complex {
                                justify-content: center;
                                padding-top: 24px;
                            }
                        }
                        
                        @media(max-width:770px) {
                            .bg_sale_on_start {
                                background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/187864/content_1029_1.png) no-repeat 103% 6% / 42%, url(https://www.pulscen.ru/system/ckeditor_assets/pictures/187947/content_group_1024.png) no-repeat 100% 0% / contain;
                            }
                        }
                        
                        @media(max-width:750px) {
                            .bg_sale_on_start {
                                background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/187864/content_1029_1.png) no-repeat 50% 82px / 244px, url(https://www.pulscen.ru/system/ckeditor_assets/pictures/187948/content_group_708.png) no-repeat 100% 0% / contain;
                            }
                            .content_sale_on_start {
                                padding-top: 320px;
                            }
                            .heading_sale_on_start {
                                font-size: 5vw;
                                line-height: 7vw;
                                padding-top: 0px;
                            }
                            .logo_heading_sale_on_start {
                                position: absolute;
                                top: 48px;
                            }
                            .wrapper_tarif_sale_on_start {
                                margin-top: 60px;
                            }
                            .wraper_prompt {
                                grid-template-columns: 1fr;
                                align-items: center;
                                justify-items: start;
                                margin-top: 80px;
                            }
                            .insaid_text {
                                padding-left: 0px;
                            }
                            .text_promt {
                                padding-top: 40px;
                            }
                            .inside_img {
                                width: 250px;
                            }
                            .heading_promt_batton {
                                margin: 40px 0px 0px 0px;
                            }
                            .img {
                                display: grid;
                                justify-self: center;
                            }
                        }
                        
                        @media(max-width:500px) {
                            .heading_promt_batton {
                                padding: 18px 10px !important;
                                display: grid !important;
                            }
                            .inside_img {
                                padding-top: 0px;
                            }
                            .subtitle_heading_sale_on_start {
                                width: 100%;
                            }
                            .heading_sale_on_start {
                                font-size: 5vw;
                                line-height: 7vw;
                                padding-top: 45px;
                            }
                            .logo_heading_sale_on_start {
                                position: absolute;
                                top: 30px;
                                left: 20px;
                            }
                            .content_sale_on_start {
                                padding: 21px;
                                padding-top: 272px;
                            }
                            .heading_sale_on_start {
                                font-size: 21px;
                                line-height: 35px;
                                padding-bottom: 23px;
                            }
                            .plashka_heading_sale_on_start {
                                margin-top: 30px;
                            }
                            .plashka_heading_sale_on_start {
                                padding: 26px 39px 33px 19px;
                            }
                            .text_plashka_heading_sale_on_start {
                                letter-spacing: 0.02em;
                                color: #FFFFFF;
                                font-size: 16px;
                            }
                            .heading_sale_on_start_batton {
                                margin: 35px 0px 0px 0px;
                            }
                            .arrow_sale_on_start {
                                display: none;
                            }
                            .heading_tarif_sale_on_start {
                                letter-spacing: 0em;
                                font-size: 17px;
                                line-height: 31px;
                            }
                            .subtitle_tarif_sale_on_start {
                                letter-spacing: 0em;
                                color: #424B5E;
                                padding: 34px 0px 30px 0px;
                                width: 100%;
                                line-height: 24px;
                            }
                            .cart_tarif_sale_on_start {
                                display: grid;
                                grid-template-columns: .1fr 1fr;
                                grid-column-gap: 20px;
                                align-items: start;
                            }
                            .blocks_tarif_sale_on_start {
                                grid-row-gap: 30px;
                            }
                            .futer_sale_on_start {
                                padding-left: 15px;
                                padding-right: 15px;
                                font-size: 14px;
                            }
                            .futer_sale_on_start_main {
                                display: none;
                            }
                            .text_futer_sale_on_start {
                                padding-bottom: 13px;
                            }
                            .povg {
                                padding-top: 35px;
                            }
                            .collMe_futer_sale_on_start {
                                margin: 30px 0px 0px 0px;
                            }
                            .futer_sale_on_start_mobil {
                                display: block;
                            }
                            .inside_img {
                                width: 160px;
                            }
                        }