.view-tenth img {
  transform: scaleY(1);
  transition: all .7s ease-in-out;
}


.view {
  width: 295px;
    height: 280px;
    outline: 1px solid #ececec;
    outline-offset: -4px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #fff url(../images/bgimg.jpg) no-repeat center center
}


.view .mask,
.view .content {
  width: 295px;
  height: 280px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}

.view img {
  display: block;
  position: relative
}

.view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  font-family: Raleway, serif;
  padding: 10px;
  /*background: rgba(0, 0, 0, 0.8);*/
  margin: 20px 0 0 0
}

.view p {
  font-family: Merriweather, serif;
  font-style: italic;
  font-size: 14px;
  position: relative;
  color: #fff;
  padding: 0px 20px 0px;
  text-align: center
}

.view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  font-family: Raleway, serif;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000
}

.view a.info:hover {
  box-shadow: 0 0 5px #000
}

.view-tenth .mask {
  background-color: rgba(0, 165, 255, 1.0);
  transition: all 0.2s linear;
  opacity: 0;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    cursor: help
}

.view-tenth h2 {
  font-family: 'Montserrat', sans-serif;
  background: transparent;
  margin: 0 10px;
  transform: scale(0);
    text-align: left;
  color: #333;
  transition: all 0.2s linear;
  opacity: 0;
    text-transform: none;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
}



.view-tenth:hover img {
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}

.view-tenth:hover .mask {
  opacity: 1;
}

.view-tenth:hover h2,
.view-tenth:hover p,
.view-tenth:hover a.info {
  transform: scale(1);
  opacity: 1;
}