/* Сброс настроек браузера */
.slides, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Скрываем слайды перед загрузкой ява-скрипта */
.flexsliderpage .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}


.flexsliderpage {
	position: relative;
    width: 100%;
	zoom: 1;
}

.page-flex-container {
	max-width: 100%;
  position: relative;
  margin: 0 auto;
}

/* Кнопки прокрутки. Стили */
.flex-direction-nav a {
	display: none;
}

/* Кнопки прокрутки. Управление */

.flexsliderpage .flex-control-nav {
	width: 100%;
    height: 30px;
    padding-top: 80px !important;
	text-align: center;

}

.flex-control-nav li {
	display: inline-block;
	zoom: 1;

}

.flex-control-paging li a {
	display: block;
	cursor: pointer;
	text-indent: -9999px;
	width: 24px;
	height: 4px;
	margin: 0 10px;
	background-color: #565656;
}

.flex-control-paging li a.flex-active {
	background-color: #00a5ff;
}
