.main {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #013A59 !important;
  position: relative;
}

.main .bg_blue {
  background: #F2FBFF;
}

.main .text {
  letter-spacing: 0.04em;
}

.main .content {
  max-width: 1320px;
  width: 90%;
  margin: auto;
  padding-top: 130px;
}

.main .heading_Button {
  padding: 15px 80px;
  border-radius: 8px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.main .heading_Button_white {
  padding: 20px 20px;
  border-radius: 8px;
}

.main .width {
  max-width: 650px;
  width: 100%;
}

.coll_me_futer {
  border-bottom: 1px dashed #013a59;
  width: 112px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 150px;
}

.header .button_col {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
  grid-gap: 30px;
  margin-top: 60px;
}

.header .heading_col_text {
  max-width: 750px;
  width: 100%;
}

.header .heading_col_text a {
  text-decoration: none;
  color: #013A59;
}

.header .heading_col_text .colorRed {
  color: #FF6E61;
}

.header .heading_header {
  font-size: 46px;
  letter-spacing: 0.04em;
  line-height: 60px;
  padding-bottom: 40px;
  font-weight: bold;
}

.header .logo {
  padding-bottom: 40px;
}

.header .text {
  padding-top: 20px;
}

.header .heading_Button {
  -webkit-filter: drop-shadow(0px 10px 20px rgba(2, 141, 216, 0.25));
          filter: drop-shadow(0px 10px 20px rgba(2, 141, 216, 0.25));
  padding: 20px 20px;
}

.header .heading_Button_white {
  border: 2px solid #028DD8;
  font-weight: 500;
}

.header .heading_col_img {
  position: absolute;
  right: 100px;
  top: 20px;
}

.conteiner {
  max-width: 1320px;
  width: 90%;
  padding: 150px 0 150px 0;
  margin: auto;
}

.H2 {
  font-size: 24px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -ms-grid;
  display: grid;
  justify-items: right;
}

.H2 .line {
  border-bottom: 2px solid #028DD8;
  width: 70%;
  padding-top: 5px;
}

.bohus .heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  padding: 0px 0 40px 0;
}

.bohus .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
}

.bohus .cards .wrapper {
  background: #FFFFFF;
  border: 1px solid #F2F4F7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(68, 118, 145, 0.16);
          box-shadow: 0px 4px 4px rgba(68, 118, 145, 0.16);
  border-radius: 6px;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.bohus .cards .wrapper ul {
  -webkit-padding-start: revert;
          padding-inline-start: revert;
  -webkit-margin-before: 5px;
          margin-block-start: 5px;
}

.bohus .cards .wrapper ul li {
  padding-bottom: 20px;
  padding-left: 10px;
  font-size: 16px;
}

.bohus .cards .wrapper .nav {
  padding-top: 14.5vw;
}

.bohus .cards .wrapper .line {
  background: #028DD8;
  width: 76px;
  height: 3px !important;
  margin-bottom: 30px;
  margin-top: 10px;
}

.bohus .cards .wrapper .heading_card {
  color: #028DD8;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 30px;
}

.bohus .cards .wrapper .heading_card_sale {
  color: #028DD8;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 30px;
}

.bohus .cards .wrapper .img_showcase {
  padding: 20px 0;
  margin: 0px 0px 45px 0;
  background: rgba(246, 245, 243, 0.5);
  width: 100%;
  position: absolute;
  left: 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bohus .cards .wrapper .img_showcase img {
  max-width: 19vw;
}

.bohus .cards .wrapper .text {
  padding-bottom: 15px;
}

.bohus .cards .wrapper .textSubt {
  padding-bottom: 25px;
}

.bohus .cards .wrapper .increase {
  font-size: 30px;
}

.bohus .cards .wrapper .heading_Button {
  width: auto;
  margin-bottom: 30px;
  padding: 20px 10px;
  -webkit-filter: drop-shadow(0px 10px 20px rgba(2, 141, 216, 0.25));
          filter: drop-shadow(0px 10px 20px rgba(2, 141, 216, 0.25));
  font-weight: 600;
}

.bohus .cards .wrapper .img {
  display: -ms-grid;
  display: grid;
}

.bohus .cards .wrapper .img img {
  width: 100%;
}

.bohus .cards .wrapper .block {
  padding: 70px 45px 45px 45px;
}

.bohus .cards .wrapper_yellow {
  border-top: 10px solid rgba(255, 197, 76, 0.8);
}

.bohus .cards .wrapper_yellow .heading_Button {
  margin-top: 45px;
}

.bohus .cards .wrapper_red {
  border-top: 10px solid rgba(255, 110, 97, 0.8);
}

.bohus .cards .wrapper_fiol {
  border-top: 10px solid rgba(158, 123, 180, 0.8);
}

.bohus .suttitle {
  padding-top: 80px;
  font-size: 26px;
  line-height: 32px;
  padding-bottom: 60px;
}

.template_advantages {
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.template_advantages .template_advantages_block {
  display: block;
  width: 93%;
}

.template_advantages .template_advantages_block .template_advantages_icon {
  padding-bottom: 30px;
}

.template_advantages .template_advantages_block .heading_card {
  padding-bottom: 25px;
}

.template_advantages .heading_card {
  color: #028DD8;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.final {
  max-width: 1320px;
  width: 90%;
  margin: auto;
  margin-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 150px;
}

.final .block_text {
  max-width: 840px;
  width: 100%;
}

.final .block_text .text {
  padding-bottom: 20px;
  font-size: 26px;
}

.final .block_text .heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  padding-bottom: 40px;
}

.final .heading_Button_white {
  margin-top: 40px;
}

.final .block_img img {
  width: 350px;
}

.appeal .appeal_col {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0 150px 0;
}

.appeal .appeal_col p {
  font-size: 18px;
  line-height: 40px;
  max-width: 800px;
  width: 100%;
}

.appeal .appeal_col .heading_Button_white {
  border: 2px solid #0492DE;
  font-weight: 500;
  padding: 20px 40px;
}

.futer_wrapper {
  max-width: 1366px;
  width: 90%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  padding: 120px 0;
  grid-row-gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bohus .cards .wrapper .nav {
  padding-top: 210px;
}

.bohus .cards .wrapper .img_showcase img {
  max-width: 250px;
}

.bohus .cards .wrapper_yellow .heading_Button {
  margin-top: 20px;
}

.bohus .cards .wrapper_red .heading_Button {
  margin-top: 20px;
}

.bohus .cards .wrapper_fiol .heading_Button {
  margin-top: 20px;
}

.futer_main {
  background: #F2FBFF;
  color: #013A59;
}

.futer_main .numder_futer a {
  color: #013A59;
}

.futer_main .line {
  width: 100px;
  height: 3px;
  background: #013A59;
  margin-bottom: 40px;
}

.agreement a {
  color: #013A59;
}

@media (min-width: 1370px) {
  .bohus .cards .wrapper .nav {
    padding-top: 230px;
  }
}

@media (max-width: 1500px) {
  .header .heading_col_text .heading_header {
    font-size: 3.3vw;
    line-height: 5vw;
  }
  .header .heading_col_text .heading_header .text {
    max-width: 500px;
    width: 100%;
  }
  .header .heading_col_text .heading_col_img img {
    width: 33vw;
  }
}

@media (max-width: 1500px) and (max-width: 1370px) {
  .header .heading_col_img img {
    width: 34vw;
    padding-left: 70px;
  }
  .header .heading_header {
    font-size: 3vw;
    line-height: 4.5vw;
  }
}

@media (max-width: 1500px) and (max-width: 1090px) {
  .conteiner {
    padding: 60px 0;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-bottom: 60px;
  }
  .header .heading_col_img img {
    width: 250px;
    padding-left: 0px;
  }
  .header .button_col {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .header .button_col .heading_Button {
    padding: 20px 20px;
  }
  .header .heading_col_img {
    position: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 40px;
    width: 100%;
    padding-left: 0px;
  }
  .header .heading_header {
    font-size: 36px;
    line-height: 50px;
  }
  .main .content {
    padding-top: 50px;
  }
  .bohus .suttitle {
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 20px;
    padding-top: 40px;
  }
  .bohus .heading {
    font-size: 26px;
    line-height: 35px;
  }
  .bohus .cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 25px;
  }
  .bohus .cards .wrapper .block {
    padding: 40px 20px 0px 20px;
  }
  .bohus .cards .wrapper_yellow img {
    padding-top: 20px;
  }
  .bohus .cards .wrapper_red img {
    padding-top: 20px;
  }
  .bohus .cards .wrapper_fiol img {
    padding-top: 20px;
  }
  .additional .cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 25px;
    padding-top: 40px;
  }
  .additional .cards .wrapper .block {
    padding: 40px 20px 0px 20px;
  }
  .additional .subtitle {
    padding-top: 40px;
  }
  .final {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 60px;
    margin-top: 40px;
  }
  .final .block_img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 40px;
  }
  .final .block_img img {
    width: 200px;
  }
  .final .heading_Button {
    margin-top: 20px;
  }
  .final .block_text {
    max-width: 1366px;
    width: 100%;
  }
  .final .block_text .heading {
    font-size: 26px;
    line-height: 35px;
  }
  .final .block_text .text {
    font-size: 18px;
  }
  .appeal .appeal_col {
    margin-bottom: 20px;
    padding: 40px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .appeal .appeal_col p {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 40px;
  }
}

@media (max-width: 1500px) and (max-width: 500px) {
  .main .heading_Button {
    padding: 20px 20px;
  }
  .header .heading_header {
    font-size: 24px;
    line-height: 38px;
    padding-bottom: 25px;
  }
  .futer_wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .appeal .heading_Button_white {
    padding: 20px 20px;
  }
}

@media (max-width: 1500px) {
  .massenger_futer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 205px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
