/** @format */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a:visited {
	color: #1a8de8;
}
body {
	background-color: #f3f3f3;
	background-image: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/225050/content_bg_01.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Open Sans", sans-serif;
}

._custom_container {
	width: 100%;
	height: auto;
	min-height: 1080px;
	font-family: "Open Sans", sans-serif;
}

._custom_container_2 {
	width: 100%;
	height: auto;

	background-size: contain;
	background-repeat: repeat-y;
	background-position: top center;
	background-color: #efefef;
	font-family: "Open Sans", sans-serif;
}
._custom_wrapper {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	height: auto;
	padding-bottom: 20px;
	padding-top: 60px;
}
._custom_headblock {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
._custom_header {
	width: 100%;
	height: auto;
	padding: 0px 0 40px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
._custom_contacts {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: auto;
}

._custom_blue_btn {
	background-color: #1a8de8;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 280px;
	height: 54px;
	border-radius: 4px;
	text-decoration: none;
	transition: all 0.3s ease;
	text-align: center;
}
._custom_blue_btn a {
	color: #fff;
	text-decoration: none;
}
._custom_blue_btn:hover {
	background-color: #0072af;
}

._custom_phone {
	font-size: 18px;
	color: #1a8de8;
	font-weight: 600;
	margin: 0 40px;
	text-decoration: none;
	transition: all 0.3s ease;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

._custom_phone:hover {
	color: #0072af;
	text-decoration: underline;
}
.a_bonus_txt {
	padding-left: 0px;
}

._custom_phone img {
	margin-right: 10px;
}
.a_bonus {
	margin: auto;
	padding: 0px 0 60px;
	max-width: 1280px;
}
.a_bonus_txt_h2 {
	font-weight: normal;

	color: #013a59;
}

._custom_headblock_h1 {
	color: #013a59;
	font-size: 70px;
	font-weight: 400;
	margin: 80px 0;
	line-height: 1.15;
}

._custom_headblock_h1 span {
	font-family: "Marck Script", cursive;
	color: #c70000;
	font-size: 120px;
	letter-spacing: -4px;
}

._custom_headblock_h2 {
	font-size: 24px;
	color: #5e7491;
	text-align: left;
}

._custom_headblock_gifts {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	height: auto;
	margin-top: 80px;
}

._custom_headblock_gift_01 {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	justify-content: flex-start;
	margin: 0 80px 0 0;
}

._custom_headblock_gift_txt {
	font-size: 16px;
	color: #5e7491;
	margin-top: 20px;
}

._custom_infoblock {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	padding: 10px 0 40px;
	flex-wrap: wrap;
}

._custom_infoblock_01 {
	width: calc(100% / 2);
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

._custom_infoblock_01_h1 {
	font-size: 28px;
	color: #013a59;
	text-transform: uppercase;
	font-weight: 400;
	text-align: left;
	padding-top: 40px;
	width: 100%;
	padding-bottom: 10px;
}

._custom_infoblock_01_h2 {
	font-size: 16px;
	line-height: 26px;
	color: #013a59;
	font-weight: 600;
	padding: 20px 0 40px;
	border-bottom: 1px solid #d4deea;
}

._custom_infoblock_01_h2 img {
	width: 24px;
	height: 24px;
	margin-right: 10px;
}

._custom_infoblock_01_h3 {
	font-size: 14px;

	color: #013a59;
	padding-bottom: 40px;
	padding-top: 20px;
}

._custom_infoblock_01_h2 span {
	font-weight: 400;
}

._custom_infoblock_img {
	width: calc(100% / 2);
	max-width: 455px;
	margin-top: 20px;
	border-radius: 4px;
}

._custom_infoblock_img img {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.a_footer {
	width: 100%;
	height: auto;
	background-image: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/225055/content_content_footer_bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
}

.a_footer_info {
	width: 100%;
	max-width: 1460px;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: stretch;
	padding: 60px 0;
}

.a_footer_info_txt {
	color: #fff;
	font-size: 24px;
	text-align: left;
	font-weight: 400;
	line-height: 36px;
}

.a_footer_info_txt a {
	color: #fff;
	font-size: 24px;
	text-align: center;
	font-weight: 700;
	text-decoration: none;
}

.a_footer_info_txt a:hover {
	opacity: 0.7;
}

.a_footer_btn {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	border-bottom: 1px dashed #fff;
	margin: 20px 0;
	cursor: pointer;
	transition: all ease 0.4s;
}
.a_footer_btn a {
	/* color: #fff; */
	text-decoration: none;
}

.a_footer_btn:hover {
	opacity: 0.7;
}

@media only screen and (max-width: 1900px) {
	._custom_container_2 {
		width: 100%;
		height: auto;
		background-image: url(../img/bg_02.jpg);
		background-size: 110%;
		background-repeat: repeat-y;
		background-position: top center;
		background-color: #efefef;
	}
	.a_footer_info {
		width: 80%;
	}
}
@media only screen and (max-width: 1560px) {
	.a_bonus {
		padding: 0px 0 60px;
	}
	.a_bonus_txt {
		width: 100%;
		padding-left: 0px;
	}
}
@media only screen and (max-width: 1460px) {
	._custom_wrapper {
		width: 80%;
		padding-top: 20px;
	}
	._custom_container_2 {
		background-size: 120%;
	}

	._custom_container {
		min-height: 900px;
	}
}

@media only screen and (max-width: 1300px) {
	._custom_header {
		width: 100%;
		margin: 0 auto;
		justify-content: space-between;
	}
	._custom_wrapper {
		width: 90%;
	}

	._custom_container_2 {
		width: 100%;
		height: auto;
		background-image: url(../img/bg_02.jpg);
		background-size: 130%;
		background-repeat: repeat-y;
		background-position: top right;
		background-color: #efefef;
	}
}

@media only screen and (max-width: 1060px) {
	._custom_header {
		justify-content: space-between;
		align-items: flex-start;
		padding: 30px 0 0;
	}
	._custom_contacts {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		height: auto;
	}
	._custom_phone {
		margin: 0 0 10px 0;
	}
	._custom_headblock_h2 {
		font-size: calc(1em + 0.3vw);
	}
	._custom_headblock_h1 {
		font-size: calc(2em + 1.5vw);
	}
	._custom_headblock_h1 span {
		font-size: calc(2em + 3vw);
	}
	._custom_headblock_gifts {
		width: 80%;
		margin: 40px 0 0;
		flex-wrap: wrap;
	}
	._custom_headblock_gift_01 {
		margin: 0 0 40px 0;
		width: 100%;
	}

	body {
		background-position: center right;
		background-image: url(../img/bg_01_sm.jpg);
		height: 100vh;
		width: 100%;
	}
}

@media only screen and (max-width: 980px) {
	._custom_infoblock_01 {
		width: calc(100% / 1);
	}

	._custom_infoblock_01_h2,
	._custom_infoblock_01_h3 {
		width: 80%;
		font-size: 14px;
	}
	._custom_infoblock_img {
		width: calc(100% / 1);
		margin-bottom: 40px;
	}
	._custom_infoblock_img img {
		width: 100%;
	}
}

@media only screen and (max-width: 600px) {
	.a_bonus_txt {
		padding-left: 0px;
	}
	._custom_header {
		flex-direction: column;
		align-items: center;
	}
	._custom_contacts {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: auto;
		margin: 10px 0;
	}
	._custom_headblock_h2 {
		font-size: 16px;
		text-align: center;
		width: 80%;
		margin: 0 auto;
	}

	._custom_infoblock_01_h1 {
		font-size: 24px;
		width: 80%;
	}

	._custom_headblock_h1 {
		font-size: 48px;
		text-align: center;
		margin: 24px 0;
	}
	._custom_headblock_h1 span {
		font-size: 68px;
	}
	._custom_headblock_gifts {
		width: 100%;
		margin: 40px auto 0;
		flex-wrap: wrap;
		flex-direction: column;
		text-align: center;
	}
	._custom_headblock_gift_01 {
		align-content: center;
		justify-content: center;
	}
	._custom_headblock_gift_01 ._custom_blue_btn {
		margin: 0 auto;
	}
	.a_footer_info_txt,
	.a_footer_info_txt a {
		font-size: 18px;
	}
}
