.wrapper-text ul {
    margin: 0px 0 0px;
    padding-left: 0px;
}

.wrapper-text ul li {
    list-style-type: disc!important;
    /* padding: 0 0 0px; */
}

.wrapper-text p {
    margin-bottom: 0px;
}

#content,
#searchline {
    margin-top: 0em;
    min-width: 0px;
}

body {
    min-width: 0 !important;
    background-color: white;
}

.wrapper-text p {
    margin-bottom: 0px;
}

.wrapper-text {
    color: #5E7491;
    line-height: normal;
    overflow: hidden;
}

.base-width {
    background-color: transparent;
    margin: 0;
    max-width: none;
    min-width: 0;
}

.catalogue {
    padding: 0;
}

.cms-page .col-middle {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0 !important;
}

.catalogue h1 {
    display: none;
}

#content {
    margin-top: 0;
}

.wrapper-text ul li {
    list-style-type: none !important;
}

.wrapper-text table td {
    padding: 20px;
}

.simple-breadcrumbs {
    display: none !important;
}


/* --- */

* {
    padding: 0;
    margin: 0
}

p {
    margin-bottom: 0px;
    margin-top: 0px;
}

hr {
    border: 0;
    height: 1px;
    border-bottom: .1px solid #c7dbff;
    line-height: 1px;
    padding: 0;
    margin: 0px 0 0px;
}


/* begin cod */

.bg {
    background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/190788/content_fon2.png) no-repeat 100% / cover;
    max-width: 1920px;
    margin: auto;
}

.heading_img2 {
    margin-top: 20px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

._im {
    display: block;
}

.mobil_im {
    display: none;
}

.serebro_list_main li::before {
    content: '';
    background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/190786/content_sloy_10_1.png);
}

.main {
    max-width: 1366px;
    width: 90%;
    margin: auto;
    color: #424B5E;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.02em;
}

.bg_futer_sale_on_start {
    margin: auto;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.02em;
}

.heading_coll2 {
    margin-top: -80px;
}

.margTop {
    margin-top: 80px;
}

.tolbar_for_articls_wrapper {
    max-width: 1366px;
    padding: 0;
}

.tolbar_for_articls_wrapper_button {
    display: grid;
    max-width: 295px;
    background: none;
    font-family: 'Open Sans', sans-serif;
    font-size: px;
    letter-spacing: 0.1em;
    color: #5E7491;
    text-align: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

.tolbar_for_articls_wrapper_button:hover {
    background: none;
}

.z-index {
    border-bottom: 1px solid #ffffff;
}

.fat {
    font-weight: bold;
}

.rascal_text {
    font-size: 22px;
}


/* heading */

.heading_imgMobil {
    display: none;
}

.heading_img {
    display: block;
}

.heading_heading {
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    width: 297px;
}

.heading_img_inside {
    width: 100%;
}

.heading_img {
    background: #FFFFFF;
    box-shadow: 0px 6px 30px rgba(66, 75, 94, 0.18);
    border-radius: 10px;
    padding: 60px;
    height: fit-content;
    margin-bottom: 120px;
    margin-top: 52px;
    position: relative;
}

.heading_width_ocon_img_inside {
    position: relative;
    left: 37px;
}

.heading_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.heading_all_taxt {
    max-width: 660px;
    width: 100%;
}

.pod {
    margin-top: 10px;
}

.heading_line {
    width: 60px;
    height: 2px;
    background: #ff7a7a;
    border-radius: 2px;
    margin: 40px 0;
}

.heading_batton {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    max-width: 660px;
    width: 100%;
}

.heading_width_ocon {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.serebro {
    background: #F97878;
    border-radius: 3px;
    padding: 20px 70px;
    margin-top: 60px;
}

.platina {
    background: #24C394;
    border-radius: 3px;
    padding: 20px 70px;
}

.heading_text2 {
    padding-bottom: 15px;
}

.heading_batton a {
    text-decoration: none;
    color: #FFF !important;
}

.serebro_list_main {
    /* list-style: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/190786/content_sloy_10_1.png)!important; */
    list-style-position: outside;
    margin-left: 54px;
}

.ul li:before {
    content: '';
    background-image: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/190786/content_sloy_10_1.png);
}


/* <!-- serebro --> */

.marbot20 {
    margin-bottom: 40px;
}

.marbot30 {
    padding-bottom: 20px;
}

.list_block {
    display: grid;
    grid-template-columns: .01fr 1fr;
    grid-gap: 25px;
    align-items: normal;
    margin-bottom: 10px;
    margin-left: 40px;
}

.serebro_block {
    background: #FFFFFF;
    box-shadow: 0px 6px 30px rgba(66, 75, 94, 0.18);
    border-radius: 10px;
    padding: 112px;
}

.serebro_substrate_text {
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #5E7491;
    padding-bottom: 60px;
}

.center_batton a {
    text-decoration: none;
}

.center_batton {
    display: flex;
}

.serebro_center_batton {
    background: #f97878;
    border-radius: 3px;
    padding: 20px 20px;
    max-width: 350px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    white-space: nowrap !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.platina_center_batton {
    width: 100%;
    margin-left: 50px;
    letter-spacing: 0.02em;
    color: #5E7491 !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_batton {
    padding-top: 80px;
}

.serebro_list {
    padding-top: 15px!important;
    padding-left: 15px!important;
}

.block_width_icon {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 491px));
    justify-content: space-between;
    grid-row-gap: 50px;
    grid-column-gap: 20px;
}

.block_width_icon_heading {
    padding-top: 25px;
    padding-bottom: 20px;
}


/* note */

.note_main {
    max-width: 1039px;
    display: flex;
    margin: 125px 112px;
    justify-content: space-between;
}

.note_text {
    padding-bottom: 30px;
}

.note_line {
    width: 60px;
    height: 4px;
    background: #E4C77A;
    border-radius: 2px;
    margin-bottom: 30px;
}

.note_text_main {
    max-width: 630px;
    width: 100%;
}

.sale {
    border: 2px dashed #F97878;
    border-radius: 6px;
    padding: 40px 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    margin-top: 60px;
    grid-column-gap: 15px;
}

.sale_one {
    display: grid;
    grid-template-columns: 296px 60px 223px;
    justify-items: center;
    justify-content: space-between;
}

.sale_result {
    display: grid;
    grid-template-columns: 60px 181px;
    justify-items: center;
    justify-content: space-around;
}

.sale_line {
    background: #F97878;
    width: 60px;
    height: 2px !important;
    margin-top: 10px;
}

.sale_line2 {
    background: #F97878;
    width: 60px;
    height: 2px !important;
    margin-top: 10px;
}

.sale_prise {
    padding-top: 20px;
}

.sale_block {
    display: grid;
    align-content: space-between;
}


/* futter */

.collMe_futer_sale_on_start {
    max-width: 300px;
    margin: 0px 0px 0px 0px;
    display: inline-block !important;
    font-size: 14px !important;
    font-weight: 600;
    font-style: normal !important;
    white-space: nowrap !important;
    border-radius: 3px !important;
    outline: 0 !important;
    cursor: pointer !important;
    -webkit-transition: background-color .2s, color .2s;
    transition: background-color .2s, color .2s;
    text-decoration: none !important;
    display: flex !important;
    align-items: center !important;
    letter-spacing: 0.05em;
}

.futer_sale_on_start {
    max-width: 1366px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 120px 0px;
    box-sizing: border-box;
    width: 90%;
    color: #424B5E;
}

.heading_futer_sale_on_start {
    font-weight: bold;
    letter-spacing: 0.04em;
    padding-bottom: 30px;
}

.collMeborder_futter_tolbar_complex {
    border-bottom: 1px dashed #424B5E;
}

.text_futter_tolbar_complex {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.03em;
    padding-bottom: 20px;
}

.text_futer_sale_on_start {
    padding-bottom: 20px;
}

.futer_sale_on_startPL {
    padding-left: 10px;
}

.futer_sale_on_start_mobil {
    display: none;
}

.sogl_futter_tolbar_complex {
    justify-self: end;
}

.bg_futer_sale_on_start a {
    text-decoration: none;
    color: #424B5E !important
}

@media(max-width:1540px) {
    .heading_img_inside {
        width: 36vw;
    }
    .heading_width_ocon_img_inside {
        width: 23vw;
    }
    .heading_img {
        padding: 4vw;
        margin-bottom: 8vw;
    }
}

@media(max-width:1460px) {
    .sale_one {
        grid-template-columns: 1fr 60px 1fr;
        grid-column-gap: 20px;
    }
    .sale {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
    .sale_result {
        grid-template-columns: 1fr;
    }
    .sale_line2 {
        width: 56vw;
    }
    .sale_heading_result {
        padding-top: 30px;
    }
    .sale_block2 {
        justify-self: baseline;
    }
    .sale {
        padding: 6vw 7vw;
    }
}

@media(max-width:1460px) {}

@media(max-width:1366px) {
    .heading_heading {
        font-size: 3.5vw;
        line-height: 60px;
        width: 21vw;
    }
    .block_width_icon {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(auto, 100%));
    }
}

@media(max-width:1300px) {
    .heading_heading {
        font-size: 3.5vw;
        line-height: 60px;
    }
    .heading_coll2 {
        margin-top: -6vw;
    }
}

@media(max-width:1200px) {
    .heading_heading {
        font-size: 3.5vw;
        line-height: 4vh;
    }
    .heading_main {
        flex-direction: column-reverse;
    }
    .tolbar_for_articls_ficsed_relevativ {
        margin-top: 30px;
    }
    .heading_text {
        padding-left: 0px;
    }
    .heading_text {
        max-width: 1366px;
    }
    .heading_all_taxt {
        max-width: 1366px;
    }
    .heading_img_inside {
        width: 400px;
    }
    .rascal_text {
        font-size: 16px;
    }
    .note_main {
        margin: 10vw 9vw;
    }
    .heading_batton {
        max-width: 610px;
        margin-bottom: 6vw;
    }
    .serebro {
        margin-top: 6vw;
    }
}

@media(max-width:1100px) {
    .serebro_substrate_main {
        height: 85px;
        max-width: 1500px;
        width: 100%;
    }
    .serebro_block {
        padding: 9vw;
    }
}

@media(max-width:1000px) {
    .futer_sale_on_start {
        grid-template-columns: 1fr;
        padding: 9vw 0px;
        grid-row-gap: 5vw;
    }
    .sogl_futter_tolbar_complex {
        justify-self: start;
    }
    .text_futter_tolbar_complex {
        padding-bottom: 10px;
    }
    .heading_futer_sale_on_start {
        padding-bottom: 5vw;
    }
    .heading_imgMobil {
        display: block;
        background: #FFFFFF;
        box-shadow: 0px 6px 30px rgba(66, 75, 94, 0.18);
        border-radius: 10px;
        padding: 7vw;
        height: fit-content;
        margin-top: 52px;
        position: relative;
    }
    .heading_img {
        display: none;
    }
    .heading_main {
        grid-template-columns: 1fr;
    }
    .heading_width_ocon {
        grid-template-columns: .1fr 1fr;
    }
    .heading_width_ocon_img_inside {
        left: 10px;
    }
    .heading_heading {
        font-size: 40px;
        width: 249px;
    }
    .heading_width_ocon_img_inside {
        width: 240px;
    }
    .heading_line {
        margin: 3vw 0 4vw 0;
    }
    .list_block {
        margin-left: 0px;
    }
}

@media(max-width:900px) {
    .center_batton {
        display: grid;
        grid-row-gap: 1vw;
    }
    .platina_center_batton {
        margin-left: 0px;
        justify-content: normal;
    }
}

@media(max-width:800px) {
    .sale_one {
        grid-template-columns: 1fr;
        justify-items: start;
        grid-template-rows: 1fr 12vw .8fr;
        align-items: center;
    }
    .sale {
        grid-row-gap: 0px;
    }
    .sale_line {
        width: 2px;
        height: 30px !important;
        margin-top: 0px;
    }
    .sale_heading_result {
        padding-top: 3.7vw;
    }
    .sale_prise {
        padding-top: 3.7vw;
    }
    .serebro_substrate_text {
        padding-bottom: 6vw;
    }
    .center_batton {
        padding-top: 9vw;
    }
    .serebro_list_main {
        margin-bottom: 9vw;
        margin-left: 28px;
    }
    .heading_img2 {
        width: 90%;
    }
}

@media(max-width:700px) {
    .heading_heading {
        font-size: 6vw;
        line-height: 8vw;
        margin-top: 4vw;
        padding-bottom: 4vw;
    }
    .heading_width_ocon {
        grid-template-columns: 36vw 1fr;
    }
    .heading_width_ocon_img_inside {
        width: 30vw;
    }
    .heading_img_inside {
        width: 51vw;
    }
    .heading_coll2 {
        grid-row-gap: 6vw;
    }
    .heading_imgMobil {
        margin-top: 6vw;
    }
    .heading_text2 {
        padding-bottom: 5vw;
    }
    ._im {
        display: none;
    }
    .mobil_im {
        display: block;
    }
    .serebro_center_batton {
        padding: 20px 15px;
        white-space: normal !important;
        width: inherit;
    }
    .platina_center_batton {
        padding: 20px 0px;
        white-space: normal !important;
        width: inherit;
    }
    .margTop {
        margin-top: 13vw;
    }
    .note_img_incla {
        width: 160px;
    }
    .note_text {
        padding-bottom: 6vw;
    }
    .note_line {
        margin-bottom: 6vw;
    }
    .heading_batton {
        display: grid;
        grid-row-gap: 30px;
    }
}

@media(max-width:400px) {
    .serebro {
        border-radius: 3px;
        padding: 20px 40px;
    }
    .platina {
        background: #24C394;
        border-radius: 3px;
        padding: 20px 40px;
    }
}

@media(max-width:340px) {
    .heading_heading {
        font-size: 8vw;
    }
    .heading_width_ocon_img_inside {
        width: 36vw;
    }
    .heading_width_ocon {
        grid-template-columns: 47vw 1fr;
    }
}