.wrapper-text p {
  margin-bottom: revert;
}

.main_content {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #013a59;
}

.content {
  max-width: 1366px;
  width: 90%;
  margin: auto;
  padding: 0;
}

.bg_blue {
  background: #f2fbff;
}

.width200 {
  width: 154px;
}

.heading_Button {
  padding: 15px 20px;
  font-size: 14px;
}

.heading_Button:hover {
  -webkit-box-shadow: 6px 4px 7px 0px #8ac6e7;
          box-shadow: 6px 4px 7px 0px #8ac6e7;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.heading_Button a {
  text-decoration: none;
}

.block_white {
  -webkit-box-shadow: 0px 4px 4px rgba(68, 118, 145, 0.16);
          box-shadow: 0px 4px 4px rgba(68, 118, 145, 0.16);
  border-radius: 6px;
  padding: 40px;
  background: #ffffff;
}

.block {
  display: block;
}

.subtitle_number {
  font-weight: 600;
  color: #028dd8;
  margin-bottom: 40px;
}

.row_left {
  margin-left: 20px;
  font-size: 14px;
}

.img_window {
  width: 75%;
  position: absolute;
  top: -100px;
}

.header_header {
  background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/208811/content_group_104_4.png) no-repeat right top;
  background-size: 55%;
  font-size: 16px;
  padding-bottom: 150px;
}

.header_header .heading_Button_white {
  padding: 15px 20px;
  margin: 0;
  font-size: 14px;
}

.header_header .heading_Button_white a {
  text-decoration: none;
}

.header_header .logo {
  margin-top: 80px;
}

.header_header .header {
  margin: 80px 0;
}

.header_header .header .nav {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 30px;
}

.header_header .header .subtitle {
  width: 436px;
}

.header_header .header__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
}

.header_header .heading_batton_line {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.header_header .heading_batton_line .batton {
  color: #028dd8;
}

.header_header .heading_batton_line .batton a {
  text-decoration: none;
}

.header_header .heading_batton_line .line {
  margin-top: 10px;
  background: #bce8ff;
  width: 50%;
  height: 3px;
}

.header_header .heading_batton_line:hover > .line {
  background: #028dd8;
  width: 100%;
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
}

.header_header .img {
  position: absolute;
  top: 250px;
  left: 68%;
}

.header_header .img img {
  width: 28vw;
}

.header_header .line_col {
  background: #bce8ff;
  width: 1px !important;
  height: 8rem;
  margin: 00px 30px 0 30px;
  -webkit-box-shadow: 0px 4px 10px rgba(121, 189, 239, 0.25);
          box-shadow: 0px 4px 10px rgba(121, 189, 239, 0.25);
}

.size {
  font-size: 26px;
}

.heading_window {
  font-size: 36px;
  margin-bottom: 20px;
}

.subtitle_window {
  font-size: 20px;
  padding-bottom: 40px;
  max-width: 600px;
  width: 100%;
}

.city_one {
  max-width: 1366px;
  width: 90%;
  margin: auto;
  padding: 150px 0;
}

.city {
  max-width: 1366px;
  width: 90%;
  margin: auto;
  padding: 0px 0 150px 0;
}

.city .subtitle_list {
  margin-bottom: 20px;
}

.d-flex p {
  margin-left: 15px;
}

.heading_Button_white {
  margin: 40px 0 30px 0;
  padding: 15px 20px;
}

.heading_Button_white:hover {
  -webkit-box-shadow: 6px 4px 7px 0px #8ac6e7;
          box-shadow: 6px 4px 7px 0px #8ac6e7;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.heading_Button_white a {
  text-decoration: none;
}

.text_note {
  color: #777777;
}

.rassia {
  max-width: 1366px;
  width: 90%;
  margin: auto;
  padding: 0px 0 150px 0;
}

.rassia .bg {
  max-width: 123%;
  width: 123%;
  top: 22%;
  z-index: 1;
  height: 200px;
  background: antiquewhite;
  position: absolute;
  left: -45%;
  background: linear-gradient(97.44deg, #eca971 30.02%, rgba(255, 255, 255, 0) 107.69%);
  border-radius: 10px;
}

.whay {
  background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/208316/content_polygon_2.png) no-repeat right 18%/60%;
  max-width: 1366px;
  width: 90%;
  margin: auto;
  padding: 150px 0;
}

.whay .heading {
  font-size: 36px;
  margin-bottom: 40px;
}

.whay .subtitle {
  margin-bottom: 25px;
}

.whay .subtitle_list {
  margin-top: 80px;
  margin-bottom: 40px;
}

.whay .line {
  -webkit-box-shadow: 0px 1px 5px #9db3ff;
          box-shadow: 0px 1px 5px #9db3ff;
  height: 1px;
  width: 500px;
  margin: 30px 0;
}

.whay .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whay .number span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #9ddcff;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: white;
  font-size: 16px;
}

.whay p {
  margin-bottom: 0;
}

.drugie {
  max-width: 1366px;
  width: 90%;
  margin: auto;
  padding: 150px 0;
}

.futer_main {
  background: #f2fbff;
  color: #013a59;
}

.agreement a {
  color: #013a59;
}

.coll_me_futer {
  border-bottom: 1px dashed #013a59;
}

.futer_main a {
  text-decoration: none;
  color: #013a59;
}

@media (max-width: 1400px) {
  .subtitle_window {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .header_header {
    background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/208811/content_group_104_4.png) no-repeat right top/75%;
    padding-bottom: 60px;
  }
  .header_header .img {
    display: none;
  }
  .header_header .header__block {
    margin-bottom: 30px;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .width200 {
    width: 100%;
  }
  .header_header .line_col {
    display: none;
  }
  .header_header .header .subtitle {
    width: 100%;
  }
  .city_one {
    max-width: 1366px;
    width: 90%;
    margin: auto;
    padding: 60px 0;
  }
  .rassia {
    max-width: 1366px;
    width: 90%;
    margin: auto;
    padding: 0px 0 60px 0;
  }
  .drugie {
    max-width: 1366px;
    width: 90%;
    margin: auto;
    padding: 60px 0;
  }
  .img_window {
    position: relative;
    top: 0px;
  }
  .subtitle_window {
    padding-bottom: 20px;
  }
}

@media (max-width: 700px) {
  .header_header .logo {
    margin-top: 60px;
  }
  .header_header .header {
    margin: 50px 0;
  }
  .header_header .header .nav {
    font-size: 26px;
    padding-bottom: 20px;
  }
  .block_white {
    padding: 20px;
  }
  .row_left {
    margin-left: 5px;
  }
  .whay {
    background: none;
    max-width: 1366px;
    width: 90%;
    margin: auto;
    padding: 60px 0;
  }
  .heading_window {
    font-size: 26px;
  }
  .heading_Button_white {
    margin: 30px 0;
  }
  .whay .heading {
    font-size: 26px;
    margin-bottom: 40px;
  }
  .justify-content-center {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: start !important;
  }
}

@media (max-width: 576px) {
  .whay .number {
    margin-bottom: 20px;
  }
}
