* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

.my_container {
    width: 100%;
    height: 100vh;
    background-image: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/187960/content_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: 'Open Sans', sans-serif;
    line-height: normal;
}

.my_block {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.my_block_info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
}

.my_btn {
    font-size: 14px;
    color: #fff !important;
    padding: 10px 30px;
    background-color: #0277bd;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 40px;
    font-weight: 700;
}

.my_btn:hover {
    opacity: .7
}

.my_line {
    width: 80px;
    height: 1px;
    background-color: #424b5e;
    margin: 20px 0 40px
}

.my_block_info_h1 {
    font-size: 50px;
    font-weight: 700;
    color: #0277bd;
    margin-bottom: 40px
}

.my_block_info_h2 {
    font-size: 14px;
    color: #424b5e;
    font-weight: 700
}

.my_block_info_h2 span a {
    font-size: 24px;
    color: #0277bd;
    font-weight: 700
}

.my_block_info_h2 span a:hover {
    opacity: .7
}

@media only screen and (max-width: 1160px) {
    .my_container {
        background-image: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/187961/content_bg_2.jpg);
        background-position: right;
    }
    .my_logo {
        margin-top: 40px;
    }
    .my_block {
        width: 90%;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 20%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        padding-bottom: 40px
    }
    .my_block_pic {
        margin: 40px 0
    }
    .my_block_pic img {
        width: 90%
    }
}

@media only screen and (max-width: 740px) {
    .my_block {
        left: 40px;
    }
}

@media only screen and (max-width: 470px) {
    .my_block_info_h1 {
        font-size: 33px;
    }
}