$corporate_color: #028dd8;
$main_text_color: #013a59;

@mixin mainContent($size, $color) {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  font-size: $size;
  font-family: "Open Sans", sans-serif;
  color: $color;
  // font-family: "Montserrat", sans-serif;
}

@mixin content($padd...) {
  max-width: 1366px;
  width: 90%;
  margin: auto;
  padding: $padd;
}

@mixin gridRow($row...) {
  display: grid;
  grid-template-rows: $row;
}

.wrapper-text p {
  margin-bottom: revert;
}

//как использовать - main_content{@include mainContent}

// общие
.main_content {
  @include mainContent(16px, $main_text_color);
}
.content {
  @include content(0);
}

.bg_blue {
  background: #f2fbff;
}

.width200 {
  width: 154px;
}

.heading_Button {
  padding: 15px 20px;
  font-size: 14px;
  &:hover {
    box-shadow: 6px 4px 7px 0px #8ac6e7;
    transition: ease 0.5s;
  }
  & a {
    text-decoration: none;
  }
}

.block_white {
  box-shadow: 0px 4px 4px rgba(68, 118, 145, 0.16);
  border-radius: 6px;
  padding: 40px;
  background: #ffffff;
}

.block {
  display: block;
}

.subtitle_number {
  font-weight: 600;
  color: $corporate_color;
  margin-bottom: 40px;
}

.row_left {
  margin-left: 20px;
  font-size: 14px;
}

.img_window {
  width: 75%;
  position: absolute;
  top: -100px;
}

// end
.header_header {
  background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/208895/content_1060_660_shapka2.png)
    no-repeat right top;
  background-size: 75%;
  font-size: 16px;
  padding-bottom: 150px;

  .heading_Button_white {
    padding: 15px 20px;
    margin: 0;
    font-size: 14px;
    & a {
      text-decoration: none;
    }
  }
  .logo {
    margin-top: 80px;
  }
  .header {
    margin: 80px 0;
    .nav {
      font-size: 40px;
      font-weight: 700;
      padding-bottom: 30px;
    }
    .subtitle {
      width: 436px;
    }
  }
  .header__block {
    @include gridRow(2fr 1fr);
  }

  .heading_batton_line {
    width: fit-content;
    cursor: pointer;

    .batton {
      color: $corporate_color;
      & a {
        text-decoration: none;
      }
    }
    .line {
      margin-top: 10px;
      background: #bce8ff;
      width: 50%;
      height: 3px;
    }
    &:hover > .line {
      background: $corporate_color;
      width: 100%;
      transition: ease all 1s;
    }
  }

  .img {
    position: absolute;
    top: 250px;
    left: 68%;
    img {
      width: 28vw;
    }
  }

  .line_col {
    background: #bce8ff;
    width: 1px !important;
    height: 8rem;
    margin: 00px 30px 0 30px;
    box-shadow: 0px 4px 10px rgba(121, 189, 239, 0.25);
  }
}

// end

.size {
  font-size: 26px;
}

.heading_window {
  font-size: 36px;
  margin-bottom: 20px;
}

.subtitle_window {
  font-size: 20px;
  padding-bottom: 40px;
  max-width: 600px;
  width: 100%;
}

.city_one {
  @include content(150px 0);
}

.city {
  @include content(0px 0 150px 0);

  .subtitle_list {
    margin-bottom: 20px;
  }
}

.d-flex {
  p {
    margin-left: 15px;
  }
}

.heading_Button_white {
  margin: 40px 0 30px 0;
  padding: 15px 20px;
  &:hover {
    box-shadow: 6px 4px 7px 0px #8ac6e7;
    // border: 1px solid #dbeff9;
    // background: #dbeff9;
    transition: ease 0.5s;
  }
  & a {
    text-decoration: none;
  }
}
.text_note {
  color: #777777;
}

// end

.rassia {
  @include content(0px 0 150px 0);
  .bg {
    max-width: 123%;
    width: 123%;
    top: 22%;
    z-index: 1;
    height: 200px;
    background: antiquewhite;
    position: absolute;
    left: -45%;
    background: linear-gradient(
      97.44deg,
      #eca971 30.02%,
      rgba(255, 255, 255, 0) 107.69%
    );
    border-radius: 10px;
  }
}

.whay {
  background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/208316/content_polygon_2.png)
    no-repeat right 18% / 60%;
  @include content(150px 0);
  .heading {
    font-size: 36px;
    margin-bottom: 40px;
  }
  .subtitle {
    margin-bottom: 25px;
  }

  .subtitle_list {
    margin-top: 80px;
    margin-bottom: 40px;
  }
  .line {
    box-shadow: 0px 1px 5px #9db3ff;
    height: 1px;
    width: 500px;
    margin: 30px 0;
  }
  .number {
    display: flex;
    justify-content: center;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #9ddcff;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      color: white;
      font-size: 16px;
    }
  }
  p {
    margin-bottom: 0;
  }
}

// end

.drugie {
  @include content(150px 0);
}
.futer_main {
  background: #f2fbff;
  color: $main_text_color;
}

.agreement a {
  color: $main_text_color;
}

.coll_me_futer {
  border-bottom: 1px dashed $main_text_color;
}
.futer_main a {
  text-decoration: none;
  color: #013a59;
}

@media (max-width: 1400px) {
  .subtitle_window {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .header_header {
    background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/208895/content_1060_660_shapka2.png)
      no-repeat right top / 75%;
    padding-bottom: 60px;
    .img {
      display: none;
    }
    .header__block {
      margin-bottom: 30px;
      grid-template-rows: 1fr;
    }
  }
  .width200 {
    width: 100%;
  }

  .header_header .line_col {
    display: none;
  }

  .header_header .header .subtitle {
    width: 100%;
  }

  .city_one {
    @include content(60px 0);
  }

  .rassia {
    @include content(0px 0 60px 0);
  }
  .drugie {
    @include content(60px 0);
  }

  .img_window {
    position: relative;
    top: 0px;
  }
  .subtitle_window {
    padding-bottom: 20px;
  }
}

@media (max-width: 700px) {
  .header_header {
    .logo {
      margin-top: 60px;
    }
    .header {
      margin: 50px 0;
      .nav {
        font-size: 26px;
        padding-bottom: 20px;
      }
    }
  }

  .block_white {
    padding: 20px;
  }

  .row_left {
    margin-left: 5px;
  }

  .whay {
    background: none;
    @include content(60px 0);
  }

  .heading_window {
    font-size: 26px;
  }

  .heading_Button_white {
    margin: 30px 0;
  }

  .whay {
    .heading {
      font-size: 26px;
      margin-bottom: 40px;
    }
  }

  .justify-content-center {
    justify-content: start !important;
  }
}

@media (max-width: 576px) {
  .whay {
    .number {
      margin-bottom: 20px;
    }
  }
}
