/** @format */

body {
	min-width: 0 !important;
	background-color: white;
}

.wrapper-text p {
	margin-bottom: 0px;
}

.wrapper-text {
	font-size: 16px;
	color: #5e7491;
	line-height: normal;
	overflow: hidden;
}

.base-width {
	background-color: transparent;
	margin: 0;
	max-width: none;
	min-width: 0;
}

.catalogue {
	padding: 0;
}
.how_work_sell_fast_button a {
	color: aliceblue !important;
}
.how_work_dop_button a {
	color: aliceblue !important;
}
.how_work_limit_button a {
	color: aliceblue !important;
}
.how_work_region_button a {
	color: aliceblue !important;
}
.collMeborder_futter_tolbar_complex a {
	color: aliceblue !important;
}

.cms-page .col-middle {
	background: none;
	border: none;
	box-shadow: none;
	padding: 0 !important;
}

.catalogue h1 {
	display: none;
}

#content {
	margin-top: 0;
}

.wrapper-text ul li {
	list-style-type: none !important;
}

.wrapper-text table td {
	padding: 20px;
}

.simple-breadcrumbs {
	display: none !important;
}

/* --- */

* {
	padding: 0;
	margin: 0;
}

p {
	margin-bottom: 0px;
	margin-top: 0px;
}
.heading_button {
	border: 1px solid #424b5e;
	width: fit-content;
	padding: 15px 30px;
	border-radius: 5px;
	/* animation: line 2s linear infinite; */
	margin: 0 10px;
	transition-duration: 1s;
	display: flex;
	justify-content: center;
}
.heading_button a {
	color: inherit;
}

.heading_button:hover {
	cursor: pointer;
	color: #0277bd;
	border: 1px solid #0277bd;
}
.heading_button:first-child {
	background: #0277bd;
	color: #ffffff;
	border: 1px solid #0277bd;
}
.heading_button:first-child a {
	color: #ffffff !important;
}
.heading_button:first-child:hover {
	background: #005586;
	border: 1px solid #005586;
	color: #ffffff;
}

@keyframes line {
	0% {
		border: 1px solid #424b5e;
	}
	50% {
		border: 1px solid #424b5e00;
	}
	100% {
		border: 1px solid #424b5e;
	}
}

.heading__buttons {
	display: flex;
	margin: 0 -10px;
}

hr {
	border: 0;
	height: 1px;
	border-bottom: 0.1px solid #c7dbff;
	line-height: 1px;
	padding: 0;
	margin: 11px 0 13px;
}

body {
	margin: 0px;
	font-family: "Open Sans", sans-serif;
	/* font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif; */
}

.wrapper_complex {
	background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/225089/content_frame_59.png) no-repeat 100% 0% / 1066px;
}

.soglashenie_link {
	text-decoration: none;
	opacity: 0.7;
}

.soglashenie {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(270px, auto) minmax(262px, auto));
	justify-content: end;
	margin-top: 65px;
}
.gir {
	background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/224788/content_get_attach_8_1.png) no-repeat 0% 0% / 100%;
	height: 382px;
	position: absolute;
	top: -209px;
	width: 47%;
	right: 186px;
	animation: gir 2s linear infinite;
}

@keyframes gir {
	0% {
		background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/224788/content_get_attach_8_1.png) no-repeat 0% 0% / 100%;
	}
	50% {
		background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/224789/content_get_attach_8.png) no-repeat 0% 0% / 100%;
	}
	100% {
		background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/224788/content_get_attach_8_1.png) no-repeat 0% 0% / 100%;
	}
}

.psa {
	position: relative;
}

.ygl {
	position: absolute;
	height: 500px;
	z-index: 3;
	bottom: -89px;
	left: -10%;
	background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/225092/content_pics_03.png) no-repeat -9% 117% /300px;
	width: 100%;
	z-index: 0;
}

.ygl-b {
	position: absolute;
	height: 500px;
	z-index: 3;
	bottom: -89px;
	left: -9%;
	background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/225093/content_group_143.png) no-repeat -9% 114% /300px;
	width: 100%;
	z-index: 0;
}
.bik {
	font-family: "Marck Script", cursive;
	color: #0277bd;
	display: block;
	font-size: 80px;
}

.ygl-site {
	position: absolute;
	height: 500px;
	z-index: 3;
	bottom: -89px;
	left: -9%;
	background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/225091/content_pics_05.png) no-repeat -2% 135% /300px;
	width: 100%;
	z-index: 0;
}

.ygl-dop {
	position: absolute;
	height: 500px;
	z-index: 3;
	bottom: -89px;
	left: 9%;
	background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/225090/content_group_144.png) no-repeat 109% 108% /300px;
	width: 100%;
	z-index: 0;
}

.ygl-reg {
	position: absolute;
	height: 500px;
	z-index: 3;
	bottom: 378px;
	left: -17%;
	background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/225090/content_group_144.png) no-repeat 102% -17% /300px;
	width: 100%;
	z-index: 0;
}
.soglashenie_link:hover {
	opacity: 1;
}

.wrapper_complex a {
	text-decoration: none;
	color: #424b5e !important;
}

.content_wrapper_complex {
	font-family: "Open Sans", sans-serif;
	box-sizing: border-box;
	max-width: 1200px;
	margin: auto;
	padding: 115px 0px 140px 0px;
}

p {
	margin: 0px;
	padding: 0px;
}

* {
	margin: 0px;
	padding: 0px;
}

/* ------------heading_complex--------------- */

.heading_complex {
	display: grid;
	grid-template-columns: 1fr 1.7fr;
	align-items: center;
}

.text_zona_heading_complex {
	display: grid;
	grid-row-gap: 30px;
}

.heading_text_heading_complex {
	font-size: 50px;
	line-height: 56px;
	letter-spacing: 0.02em;
	color: #013a59;
	width: 706px;
}

.subtitle_text_heading_complex {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #424b5e;
}

.wrapper_what_task {
	margin-top: 104px;
}

.text_what_tas {
	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	line-height: 42px;
	letter-spacing: 0.02em;
	color: #424b5e;
}

.batton_heading_complex {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 97px;
}

.img_heading_complex {
	justify-self: end;
}

.imgPosition_heading_complex22 {
	position: relative;
	/* left: 23px;
    top: 76px; */
}

.out_batton {
	max-width: 400px;
	margin: 60px 0px 0px 0px;
	/* display: inline-block !important; */
	padding: 34px 77px !important;
	font-size: 20px !important;
	font-style: normal !important;
	white-space: nowrap !important;
	color: #424b5e !important;
	border: 1px dashed #424b5e;
	border-radius: 10px !important;
	outline: 0 !important;
	cursor: pointer !important;
	-webkit-transition: background-color 0.2s, color 0.2s;
	transition: background-color 0.2s, color 0.2s;
	text-decoration: none !important;
	letter-spacing: 0.02em;
	display: grid;
	text-align: center;
	/* background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/224830/content_a1bcb425e2234d07e0c85edc3b4b1a83.png) no-repeat 100% 100% / 132px; */
}

.out_batton:hover {
	color: #0277bd !important;
	border: 1px dotted #0277bd !important;
}

.to_sell_button {
	max-width: 300px;
	margin: 60px 0px 0px 0px;
	/* display: inline-block !important; */
	padding: 35px 110px !important;
	font-size: 20px !important;
	font-weight: bold;
	font-style: normal !important;
	white-space: normal !important;
	color: #fff !important;
	background-color: #0277bd !important;
	border: 1px solid #0277bd !important;
	border-radius: 10px !important;
	outline: 0 !important;
	cursor: pointer !important;
	-webkit-transition: background-color 0.2s, color 0.2s;
	transition: background-color 0.2s, color 0.2s;
	text-decoration: none !important;
	letter-spacing: 0.02em;
	display: grid;
	text-align: center;
}

.borderLeft {
	left: 223px;
	position: relative;
	top: 72px;
}

.img_borderLeft {
	width: 2px;
}

.heading_p1 {
	padding-top: 17px;
	padding-bottom: 11px;
}

.heading_p4 {
	padding-top: 14px;
}

.heading_p3 .heading_p2 {
	padding-top: 10px;
}

/* ------------sell_fast--------------- */

.width_img_sell_fastMobil {
	display: none;
}

.width_img_sell_fastMobil1 {
	display: none;
}

.img_sell_fast1 {
	display: grid;
	justify-items: end;
	position: relative;
	right: 32px;
}

.fon_text_sell_fast {
	font-weight: 800;
	font-size: 90px;
	line-height: 100px;
	letter-spacing: 0.13em;
	text-transform: uppercase;
	color: #0277bd;
	opacity: 0.3;
	top: 3px;
	position: relative;
	left: -240px;
	width: 110%;
}

.bg_sell_fast {
	background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/185235/content_frame_22_1.png) no-repeat 100% / cover;

	border-radius: 10px;
}

.star_wrapper_text {
	padding: 38px 40px;
}

.accommodation_sell_fast {
	display: grid;
	grid-template-columns: 1.2fr 1fr;
}

.wrapper_sell_fast {
	/* background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/224764/content_pics_03.png) no-repeat 100% 75% / 300px; */
	box-shadow: 2px 4px 40px rgba(66, 75, 94, 0.3);
	border-radius: 10px;
	padding: 65px;
	z-index: 2;
	position: relative;
	margin-top: 106px;
	background-color: white;
}

.heading_sell_fast {
	font-weight: 800;
	font-size: 22px;
	line-height: 24px;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	color: #ffffff;
	text-shadow: 1px 4px 4px rgba(66, 75, 94, 0.5);
	padding-bottom: 32px;
	max-width: 84%;
	line-height: 35px;
}

.subtitle_sell_fast {
	font-weight: 800;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.02em;
	color: #ffffff;
}

.advantages_sell_fast {
	font-weight: 800;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.02em;
	color: #ffffff;
	padding-bottom: 5px;
}

.text_sell_fast {
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.02em;
	color: #fff;
	padding-top: 13px;
}

.coll_sell_fast {
	display: grid;
	align-items: center;
	grid-template-columns: 0.1fr 9fr;
	color: #ffffff;
}

/* .ygl {
	background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/225092/content_pics_03.png) no-repeat -10% 100% / 13%;
} */

.img_sell_fast {
	position: relative;
	left: -40px;
	padding-top: 15px;
	padding-bottom: 30px;
}

.img_sell_fastMobil {
	display: none;
}

/* ------------how_work_sell_fast--------------- */

.main_how_work_sell_fast {
	border: 1px solid rgba(134, 149, 172, 0.3);
	padding: 40px;
	border-radius: 10px;
}

.wrapper_how_work_sell_fast {
	display: grid;
	grid-template-columns: 1fr 0.17fr 1fr;
	grid-column-gap: 30px;
	align-items: top;
	padding-bottom: 40px;
}

.heading_how_work_sell_fast {
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.02em;
	color: #424b5e;
	padding-top: 42px;
	padding-bottom: 23px;
}

.work_star {
	padding-top: 14px;
	letter-spacing: 0.02em;
	font-size: 16px;
}

.textZona_wrapper_task_how_work_sell_fast {
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #424b5e;
	border: 2px dashed #424b5e;
	border-radius: 10px;
	padding: 20px 10px;
	text-align: center;
}

.textZona_text_task_how_work_sell_fast {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #424b5e;
	padding-top: 19px;
}

.dotted_how_work_sell_fast {
	border-top: 2px dashed #424b5e;
	margin-top: 34px;
}

.block_how_work_sell_fast {
	background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/185230/content_frame_6_1.png) no-repeat 100% / cover;
	border-radius: 10px;
	padding: 23px 32px;
}

.heading_block_how_work_sell_fast {
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #ffffff;
	padding-bottom: 18px;
}

.text__block_how_work_sell_fast {
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 0.02em;
	color: #ffffff;
}

.line_block_how_work_sell_fast {
	border-bottom: 1px solid #ffffff;
	padding-top: 28px;
	margin-left: -31px;
	max-width: 101px;
}

.coll__block_how_work_sell_fast {
	display: grid;
	grid-template-columns: 0.1fr 9fr;
	grid-column-gap: 10px;
	color: white;
	align-items: center;
}

.how_work_sell_fast_button {
	max-width: 360px;
	margin: 43px 0px 0px 0px;
	display: inline-block !important;
	padding: 24px 51px !important;
	font-size: 16px !important;
	font-weight: bold;
	font-style: normal !important;
	white-space: nowrap !important;
	color: #fff !important;
	background-color: #0277bd !important;
	border: 1px solid #0277bd !important;
	border-radius: 3px !important;
	outline: 0 !important;
	cursor: pointer !important;
	-webkit-transition: background-color 0.2s, color 0.2s;
	transition: background-color 0.2s, color 0.2s;
	text-decoration: none !important;
	letter-spacing: 0.02em;
	display: grid;
	text-align: center;
	text-align: center;
	z-index: 4;
	position: relative;
}
.how_work_sell_fast_button:hover {
	cursor: pointer;
	background-color: #015d92 !important;
}

.how_work_sell_fast_button a {
	color: #fff !important;
}

.img_how_work_sell_fast {
	max-width: 100%;
}

.img_how_work_sell_fastMobil {
	display: none;
}

.wrapper_sell_fast_dop {
	/* background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/224763/content_pics_02.png) no-repeat 100% 75% / 300px; */
	box-shadow: 2px 4px 40px rgba(66, 75, 94, 0.3);
	border-radius: 10px;
	padding: 65px;
	z-index: 2;
	position: relative;
	margin-top: 65px;
	background-color: white;
}

.dop_wrapper_text {
	padding: 36px 40px;
}

.accommodation_dop {
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.subtitle_dop {
	font-weight: 800;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.02em;
	color: #ffffff;
	width: 634px;
	padding-bottom: 16px;
}

.img_dop {
	display: grid;
	justify-items: end;
	align-items: center;
	position: relative;
	right: 46px;
}

.how_work_dop_button {
	max-width: 360px;
	margin: 40px 0px 0px 0px;
	display: inline-block !important;
	padding: 24px 68px !important;
	font-size: 16px !important;
	font-weight: bold;
	font-style: normal !important;
	white-space: nowrap !important;
	color: #fff !important;
	background-color: #0277bd !important;
	border: 1px solid #0277bd !important;
	border-radius: 3px !important;
	outline: 0 !important;
	cursor: pointer !important;
	-webkit-transition: background-color 0.2s, color 0.2s;
	transition: background-color 0.2s, color 0.2s;
	text-decoration: none !important;
	letter-spacing: 0.02em;
	display: grid;
	text-align: center;
	z-index: 4;
	position: relative;
}
.how_work_dop_button:hover {
	cursor: pointer;
	background-color: #015d92 !important;
}
.how_work_dop_button a {
	color: #fff !important;
}

.vnimanie_dop {
	letter-spacing: 0.02em;
	font-size: 16px;
	margin-top: 42px;
	line-height: 24px;
}

.wrapper_sell_fast_limit {
	/* background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/224766/content_pics_06.png) no-repeat 100% 75% / 300px; */
	box-shadow: 2px 4px 40px rgba(66, 75, 94, 0.3);
	border-radius: 10px;
	padding: 65px;
	z-index: 2;
	position: relative;
	margin-top: 60px;
	background-color: white;
}

.wrapper_text_limit {
	padding: 40px;
	padding-bottom: 44px;
}

.subtitle_sell_fast_limit {
	font-weight: 800;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.02em;
	color: #ffffff;
	padding-top: 37px;
}

.how_work_limit_button {
	max-width: 360px;
	margin: 43px 0px 0px 0px;
	display: inline-block !important;
	padding: 24px 60px !important;
	font-size: 16px !important;
	font-weight: bold;
	font-style: normal !important;
	white-space: nowrap !important;
	color: #fff !important;
	background-color: #0277bd !important;
	border: 1px solid #0277bd !important;
	border-radius: 3px !important;
	outline: 0 !important;
	cursor: pointer !important;
	-webkit-transition: background-color 0.2s, color 0.2s;
	transition: background-color 0.2s, color 0.2s;
	text-decoration: none !important;
	letter-spacing: 0.02em;
	display: grid;
	z-index: 4;
	position: relative;
}
.how_work_limit_button:hover {
	cursor: pointer;
	background-color: #015d92 !important;
}
.how_work_limit_button a {
	color: #fff !important;
}
.how_work_region_button a {
	color: #fff !important;
}
.collMeborder_futter_tolbar_complex a {
	color: #fff !important;
}

.wrapper_texr_region {
	padding: 26px 40px;
}

.subtitle_limit {
	padding-bottom: 28px;
	font-weight: 800;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.02em;
	color: #ffffff;
}

.vnimanie_limit {
	padding-top: 37px;
}

/* ------------new_regions--------------- */

.fon_text_new_regions {
	font-weight: 800;
	font-size: 100px;
	line-height: 100px;
	letter-spacing: 0.13em;
	text-transform: uppercase;
	color: #0277bd;
	opacity: 0.3;
	top: 93px;
	position: relative;
	left: -240px;
	width: 110%;
}

.br_new_regions {
	background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/185235/content_frame_22_1.png) no-repeat 100% / cover;
	padding: 40px;
	border-radius: 10px;
}

.accommodation_new_regions {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.wrapper_new_regions {
	background: #ffffff;
	box-shadow: 2px 4px 40px rgba(66, 75, 94, 0.3);
	padding: 65px;
	z-index: 2;
	position: relative;
	margin-top: 74px;
	border-radius: 10px;
	padding-bottom: 0px;
}

.heading_new_regions {
	font-weight: 800;
	font-size: 22px;
	line-height: 24px;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	color: #ffffff;
	text-shadow: 1px 4px 4px rgba(66, 75, 94, 0.5);
	max-width: 84%;
	line-height: 35px;
	line-height: 32px;
}

.advantages_new_regions {
	font-weight: 800;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.02em;
	color: #ffffff;
	padding-bottom: 14px;
}

.text_new_regions {
	font-size: 16px;
	line-height: 15px;
	letter-spacing: 0.02em;
	padding-left: 7px;
	color: #fff;
	padding-top: 13px;
}

.coll_new_regions {
	display: grid;
	align-items: center;
	grid-template-columns: 0.1fr 9fr;
	color: #ffffff;
	padding-top: 9px;
}

.img_new_regions {
	position: relative;
	left: -40px;
	padding-top: 23px;
	padding-bottom: 30px;
}

.img_new_regions2 {
	display: grid;
	justify-items: end;
	align-items: end;
	position: relative;
	top: -15px;
	right: 56px;
}

.width_img_new_regionsMobil {
	display: none;
}

/* --------всплывающее окошко------------- */

.blocks_region_complex {
	border: 1px dashed #000000;
	border-radius: 10px;
	padding: 17px 10px;
	cursor: pointer;
	display: grid;
	align-items: center;
}

.blocks_region_complex:hover {
	border: 1px dashed #0277bd;
	border-radius: 10px;
	cursor: pointer;
}

.menu_region_complex {
	display: grid;
	/* grid-template-columns: 1fr 1fr; */
	grid-column-gap: 45px;
	padding: 40px;
	background: #ffffff;
	opacity: 0.9;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	cursor: pointer;
	position: absolute;
	line-height: 30px;
	color: #424b5e;
	letter-spacing: 0.02em;
	font-size: 14px;
}

/* ------------new_regions_how_work--------------- */

.main_new_regions_how_work {
	border: 1px solid rgba(134, 149, 172, 0.3);
	padding: 40px;
	border-radius: 10px;
}

.wrapper_new_regions_how_work {
	display: grid;
	grid-template-columns: 1fr 0.16fr 1fr;
	grid-column-gap: 30px;
	align-items: top;
	padding-bottom: 40px;
}

.heading_new_regions_how_work {
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.02em;
	color: #424b5e;
	padding-top: 65px;
	padding-bottom: 40px;
}

.textZona_wrapper_task_new_regions_how_work {
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #424b5e;
	border: 1px dashed #000000;
	border-radius: 10px;
	padding: 20px 28px;
}

.textZona_text_task_new_regions_how_work {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #424b5e;
	padding-top: 24px;
}

.dotted_new_regions_how_work {
	border-top: 2px dashed #424b5e;
	margin-top: 27px;
}

.block_new_regions_how_work {
	background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/185230/content_frame_6_1.png) no-repeat 100% / cover;
	border-radius: 10px;
	padding: 17px 35px;
	height: fit-content;
}

.heading_block_new_regions_how_work {
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #ffffff;
	padding-bottom: 20px;
}

.text__block_new_regions_how_work {
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 0.02em;
	color: #ffffff;
}

.line_block_new_regions_how_work {
	border-bottom: 1px solid #ffffff;
	padding-top: 22px;
	margin-left: -35px;
	max-width: 106px;
	margin-bottom: 15px;
}

.coll__block_new_regions_how_work {
	display: grid;
	grid-template-columns: 0.1fr 9fr;
	grid-column-gap: 10px;
	color: white;
}

.new_regions_how_work_button {
	max-width: 360px;
	margin: 65px 0px 62px 0px;
	display: inline-block !important;
	padding: 25px 162px !important;
	font-size: 16px !important;
	font-weight: bold;
	font-style: normal !important;
	white-space: nowrap !important;
	color: #fff !important;
	background-color: #0277bd !important;
	border: 1px solid #0277bd !important;
	border-radius: 3px !important;
	outline: 0 !important;
	cursor: pointer !important;
	-webkit-transition: background-color 0.2s, color 0.2s;
	transition: background-color 0.2s, color 0.2s;
	text-decoration: none !important;
	letter-spacing: 0.02em;
	display: grid;
	text-align: center;
}

.note_new_regions_how_work {
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #424b5e;
}

.img_new_regions_how_work {
	max-width: 100%;
}

.img_new_regions_how_workMobil {
	display: none;
}

/* ------------tolbar_complex-------------- */

.wrapper_tolbar_complex {
	background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/185231/content_frame_19.png) no-repeat 100% / cover;
	border-radius: 10px;
	margin-top: 68px;
	padding: 65px;
	z-index: 5;
	position: relative;
}

.lineBotton_tolbar_complex {
	border-bottom: 1px solid #ffffff;
	width: 16%;
	padding-top: 10px;
}

.attention_tolbar_complex {
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: rgb(255, 255, 255);
	padding-bottom: 22px;
}

.heading_tolbar_complex {
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #ffffff;
	padding-bottom: 17px;
}

.coll_tolbar_complex {
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.05em;
	color: #ffffff;
}

.span_tolbar_complex {
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.03em;
	color: #ffffff;
}

.span_tolbar_complexMobil {
	display: none;
}

.coll_tolbar_complex {
	display: grid;
	grid-template-columns: 0.1fr 9fr;
	grid-column-gap: 20px;
	padding-top: 10px;
}

.collMe_futter_tolbar_complex {
	max-width: 300px;
	margin: 15px 0px 0px 0px;
	display: inline-block !important;
	font-size: 16px !important;
	font-weight: 600;
	font-style: normal !important;
	white-space: nowrap !important;
	color: #ffffff !important;
	border-radius: 3px !important;
	outline: 0 !important;
	cursor: pointer !important;
	-webkit-transition: background-color 0.2s, color 0.2s;
	transition: background-color 0.2s, color 0.2s;
	text-decoration: none !important;
	display: flex !important;
	align-items: center !important;
}

.collMeborder_futter_tolbar_complex {
	border-bottom: 1px dashed #ffffff;
}

/* ------------region_complex--------------- */

.red {
	color: lightcoral;
}

.img_border_line_region_complex {
	width: 100%;
}

.region_complex_claster {
	font-weight: 800;
	font-size: 18px;
	line-height: 15px;
	letter-spacing: 0.02em;
	color: #ffffff;
	background: #0277bd;
	border-radius: 10px;
	min-height: 64px;
	margin: 40px 0px 40px 0px;
	display: grid;
	align-items: center;
	justify-items: center;
}

.wrapper_region_complex {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 40px;
}

.heading_region_complex {
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 0.02em;
	text-align: center;
}

.how_work_region_button {
	max-width: 360px;
	margin: 48px 0px 62px 0px;
	display: inline-block !important;
	padding: 24px 66px !important;
	font-size: 16px !important;
	font-weight: bold;
	font-style: normal !important;
	white-space: nowrap !important;
	color: #fff !important;
	background-color: #0277bd !important;
	border: 1px solid #0277bd !important;
	border-radius: 3px !important;
	outline: 0 !important;
	cursor: pointer !important;
	-webkit-transition: background-color 0.2s, color 0.2s;
	transition: background-color 0.2s, color 0.2s;
	text-decoration: none !important;
	letter-spacing: 0.02em;
	display: grid;
	text-align: center;
}
.how_work_region_button:hover {
	background-color: #0467a0 !important;
}

.subtitle_region_complex {
	font-size: 16px;
	letter-spacing: 0.02em;
	text-align: center;
	padding-top: 10px;
}

.outside_region_complex {
	color: #424b5e;
}

.outside_region_complex:hover {
	color: #0277bd;
}

.border_line_region_complex {
	margin-top: 20px;
}

.imgPosition_heading_complex22 {
	display: none;
}

@media (max-width: 1833px) {
	.imgPosition_heading_complex22 {
		top: 12px;
		width: 32vw;
	}
}

@media (max-width: 1724px) {
	.fon_text_sell_fast {
		font-size: 80px;
		left: -116px;
	}
	.borderLeft {
		left: 296px;
	}
	.fon_text_new_regions {
		font-size: 80px;
		left: -116px;
	}
	.gir {
		background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/224788/content_get_attach_8_1.png) no-repeat 0% 0% / 100%;
		height: 382px;
		position: absolute;
		top: -9vw;
		width: 47%;
		right: 0;
		left: 0;
		animation: gir 2s linear infinite;
	}
	.subtitle_text_heading_complex {
		width: 533px;
	}
}

@media (max-width: 1456px) {
	.fon_text_sell_fast {
		left: 0px;
	}
	.borderLeft {
		left: 443px;
	}
	.fon_text_new_regions {
		left: 0px;
	}
}

@media (max-width: 1500px) {
	.subtitle_text_heading_complex {
		width: 100%;
	}
	.wrapper_region_complex {
		grid-template-columns: repeat(3, 1fr);
	}
	.heading_complex {
		align-items: start;
		grid-template-columns: 1.1fr 2fr;
		height: fit-content;
	}
	.wrapper_complex {
		background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/225089/content_frame_59.png) no-repeat 100% 0% / 61vw;
	}
	.out_batton {
		max-width: 397px;
		margin: 60px 0px 0px 0px;
		padding: 34px 55px !important;
		font-size: 20px !important;
		font-style: normal !important;
		white-space: nowrap !important;
		color: #424b5e !important;
		border: 1px dashed #424b5e;
		border-radius: 10px !important;
		outline: 0 !important;
		cursor: pointer !important;
		-webkit-transition: background-color 0.2s, color 0.2s;
		transition: background-color 0.2s, color 0.2s;
		text-decoration: none !important;
		letter-spacing: 0.02em;
		display: grid;
		text-align: center;
		background: white;
	}
	.imgPosition_heading_complex22 {
		display: none;
	}
	.content_wrapper_complex {
		padding: 196px 62px 147px 62px;
	}
	.imgPosition_heading_complex2 {
		font-size: 36px;
		line-height: 46px;
		margin-top: -7px;
	}
	/* .imgPosition_heading_complex22 {
		display: none;
	} */
	.subtitle_text_heading_complex {
		margin-top: -7px;
	}
	.text_what_tas {
		font-size: 18px;
	}
	.wrapper_what_task {
		margin-top: 17px;
	}
	.batton_heading_complex {
		grid-column-gap: 65px;
	}
	.fon_text_sell_fast {
		font-size: 60px;
		top: 10px;
		left: -20px;
	}
	.borderLeft {
		left: 290px;
	}
	.heading_sell_fast {
		font-size: 20px;
	}
	.subtitle_sell_fast {
		font-size: 16px;
	}
	.advantages_sell_fast {
		font-size: 16px;
	}
	.accommodation_sell_fast {
		grid-template-columns: 1.6fr 1fr;
	}
	.heading_how_work_sell_fast {
		font-size: 16px;
		padding-top: 60px;
		padding-bottom: 30px;
	}
	.textZona_wrapper_task_how_work_sell_fast {
		font-size: 14px;
	}
	.textZona_text_task_how_work_sell_fast {
		font-size: 14px;
	}
	.text__block_how_work_sell_fast {
		font-size: 14px;
	}
	.heading_block_how_work_sell_fast {
		font-size: 14px;
	}
	.block_how_work_sell_fast {
		padding: 23px 28px;
		height: fit-content;
	}
	.wrapper_how_work_sell_fast {
		grid-column-gap: 19px;
	}
	.line_block_how_work_sell_fast {
		padding-top: 18px;
	}
	.fon_text_new_regions {
		font-size: 60px;
		top: 105px;
		left: -20px;
	}
	.heading_new_regions {
		font-size: 20px;
		max-width: 100%;
	}
	.advantages_new_regions {
		font-size: 16px;
	}
	.width_img_new_regions2 {
		max-width: 54%;
	}
	.region_complex_claster {
		font-size: 16px;
	}
	.subtitle_region_complex {
		font-size: 14px;
	}
	.heading_new_regions_how_work {
		font-size: 16px;
		padding-top: 55px;
		padding-bottom: 30px;
	}
	.textZona_wrapper_task_new_regions_how_work {
		font-size: 14px;
	}
	.wrapper_new_regions_how_work {
		grid-column-gap: 20px;
	}
	.block_new_regions_how_work {
		padding: 17px 23px;
	}
	.new_regions_how_work_button {
		padding: 24px 159px !important;
		font-size: 16px !important;
	}
	.note_new_regions_how_work {
		font-size: 14px;
	}
	.heading_tolbar_complex {
		font-size: 16px;
	}
	.text_new_regions {
		font-size: 14px;
	}
	.text_sell_fast {
		font-size: 14px;
	}
	.subtitle_dop {
		font-size: 16px;
	}
	.subtitle_sell_fast_limit {
		font-size: 16px;
	}
	.subtitle_limit {
		font-size: 16px;
	}
}

@media (max-width: 1366px) {
	.to_sell_button {
		margin: 30px 0px 0px 0px;
		padding: 29px 110px !important;
	}
	.out_batton {
		margin: 30px 0px 0px 0px;
		padding: 29px 110px !important;
	}
	.out_batton {
		margin: 30px 0px 0px 0px;
		padding: 29px 57px !important;
	}
	.text_zona_heading_complex {
		display: grid;
		grid-row-gap: 25px;
	}
	.wrapper_region_complex {
		grid-template-columns: repeat(3, 1fr);
	}
	.heading_complex {
		align-items: inherit;
		grid-template-columns: 1.1fr 2fr;
		height: fit-content;
	}

	.imgPosition_heading_complex22 {
		display: none;
	}
	.content_wrapper_complex {
		padding: 135px 62px 100px 62px;
	}
}

@media (max-width: 1250px) {
	.ygl {
		position: absolute;
		height: 500px;
		z-index: 3;
		bottom: -89px;
		left: -10%;
		background: none;
		width: 100%;
		z-index: 0;
		display: none;
	}

	.ygl-b {
		position: absolute;
		height: 500px;
		z-index: 3;
		bottom: -181px;
		left: 5%;
		background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/225093/content_group_143.png) no-repeat -9% 114% /300px;
		width: 54%;
		z-index: 0;
	}
	.bik {
		font-family: "Marck Script", cursive;
		color: #0277bd;
		display: block;
		font-size: px;
	}

	.ygl-site {
		position: absolute;
		height: 500px;
		z-index: 3;
		bottom: -89px;
		left: -9%;
		background: none;
		width: 100%;
		z-index: 0;
		display: none;
	}

	.ygl-dop {
		position: absolute;
		height: 500px;
		z-index: 3;
		bottom: -89px;
		left: 9%;
		background: none;
		width: 100%;
		z-index: 0;
		display: none;
	}

	.ygl-reg {
		position: absolute;
		height: 500px;
		z-index: 3;
		bottom: 378px;
		left: -17%;
		background: none;
		width: 100%;
		z-index: 0;
		display: none;
	}
	.gir {
		background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/224788/content_get_attach_8_1.png) no-repeat 0% 0% / 100%;
		height: 382px;
		position: absolute;
		top: -9vw;
		width: 67%;
		right: 0;
		left: 0;
		animation: gir 2s linear infinite;
	}
	ы .to_sell_button {
		padding: 35px 90px !important;
	}
	.out_batton {
		padding: 34px 51px !important;
	}
	/* .wrapper_complex {
		background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/224790/content_back-header_1.png) 100% 0% / 600px no-repeat, url(https://www.pulscen.ru/system/ckeditor_assets/pictures/224815/content_bg_026.png) 105% 4% / 15vw repeat-y;
	} */
	.heading_complex {
		display: flex;
		flex-direction: column-reverse;
	}
	.img_heading_complex {
		justify-self: end;
		display: grid;
		justify-content: center;
	}
	.imgPosition_heading_complex22 {
		top: 0;
		width: 400px;
		margin-bottom: 70px;
	}
}

@media (max-width: 1160px) {
	.to_sell_button {
		padding: 35px 86px !important;
	}
	.out_batton {
		padding: 34px 36px !important;
	}
	.accommodation_dop {
		display: grid;
		grid-template-columns: 2fr 1fr;
	}
	.subtitle_dop {
		width: 100%;
	}
}

@media (max-width: 1140px) {
	.out_batton {
		max-width: 100%;
	}
	.batton_heading_complex {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 1080px) {
	.to_sell_button {
		margin: 36px 0px 0px 0px;
		padding: 22px 82px !important;
		font-size: 18px !important;
	}
	.out_batton {
		margin: 35px 0px 0px 0px;
		padding: 22px 94px !important;
		font-size: 18px !important;
	}
	.heading_complex {
		grid-template-columns: 1.3fr 2fr;
	}

	.wrapper_how_work_sell_fast {
		grid-template-columns: 1fr;
	}
	.dotted_how_work_sell_fast {
		border-top: none;
	}
	.wrapper_new_regions_how_work {
		grid-template-columns: 1fr;
	}
	.dotted_new_regions_how_work {
		border-top: none;
		margin-top: 27px;
	}
	.batton_heading_complex {
		padding: 35px 0px !important;
		display: grid;
		grid-template-columns: 1fr;
	}

	.batton_heading_complex {
		grid-template-columns: 1fr;
	}
	.to_sell_button {
		max-width: 100%;
	}
	.out_batton {
		max-width: 100%;
	}
	.content_wrapper_complex {
		padding: 206px 19px 50px 19px;
	}
}

@media (max-width: 1030px) {
	.to_sell_button {
		padding: 35px 55px !important;
	}
	.out_batton {
		padding: 34px 55px !important;
	}
}

@media (max-width: 1005px) {
	.to_sell_button {
		padding: 22px 49px !important;
	}
	.out_batton {
		padding: 22px 49px !important;
	}
	.heading_complex {
		grid-template-columns: 1.5fr 2fr;
	}
}

@media (max-width: 1000px) {
	.blocks_region_complex:hover {
		border: 1px dashed #000000;
		border-radius: 10px;
		cursor: auto;
	}
	.blocks_region_complex {
		cursor: auto;
	}
	.imgPosition_heading_complex2 {
		width: 61vw;
		margin-top: -100px;
	}
}

@media (max-width: 910px) {
	.heading_complex {
		grid-template-columns: 2fr 2fr;
	}
}

@media (max-width: 890px) {
	.to_sell_button {
		padding: 22px 19px !important;
	}
	.out_batton {
		padding: 22px 19px !important;
	}
}

@media (max-width: 855px) {
	.width_img_sell_fastMobil {
		display: block;
	}
	.width_img_sell_fast1 {
		display: none;
	}
	.img_sell_fastMobil_block {
		display: grid;
		justify-self: end;
	}
	.bg_sell_fast {
		display: grid;
	}
	.width_img_sell_fast1 {
		display: none;
	}
}

@media (max-width: 870px) {
	.wrapper_sell_fast {
		background: none;
		background-color: white;
	}
	.to_sell_button {
		padding: 22px 14px !important;
	}
	.out_batton {
		padding: 22px 14px !important;
	}
	.bg_sell_fast {
		padding: 0px 36px 40px 20px;
	}
	.heading_sell_fast {
		font-size: 16px;
		max-width: 100%;
		padding-top: 30px;
		line-height: 24px;
		padding-bottom: 14px;
	}
	.img_sell_fast {
		padding-bottom: 20px;
	}
	.wrapper_how_work_sell_fast {
		grid-template-columns: 1fr;
	}
	.dotted_how_work_sell_fast {
		border-top: none;
		margin-top: 34px;
	}
	.star_wrapper_text {
		padding: 37px 10px;
	}
	.accommodation_dop {
		display: grid;
		grid-template-columns: 1fr;
	}
	.dop_wrapper_text {
		padding: 36px 10px;
	}
	.how_work_dop_button {
		font-style: normal !important;
		white-space: normal !important;
		padding: 24px 10px !important;
	}
	.wrapper_text_limit {
		padding: 40px 10px;
		padding-bottom: 44px;
	}
	.wrapper_texr_region {
		padding: 26px 10px;
	}
	.width_img_sell_fastMobil1 {
		display: block;
	}
	.accommodation_sell_fast {
		grid-template-columns: 1fr;
	}
	.how_work_region_button a {
		padding: 24px 40px !important;
	}
	.wrapper_sell_fast_limit {
		background: none;
		background-color: white;
	}
	.wrapper_sell_fast_dop {
		background: none;

		background-color: white;
	}
}

@media (max-width: 800px) {
	.bik {
		font-family: "Marck Script", cursive;
		color: #0277bd;
		display: block;
		font-size: 11vw;
	}
	.batton_heading_complex {
		grid-template-columns: 1fr;
	}
	.to_sell_button {
		max-width: 100%;
	}
	.out_batton {
		max-width: 100%;
	}

	.heading_complex {
		align-items: start;
		grid-template-columns: 1fr;
		height: fit-content;
	}
	.heading_text_heading_complex {
		font-size: 32px;
		margin-top: 6px;
		width: 494px;
	}
	.subtitle_text_heading_complex {
		margin-top: 0px;
		width: 100%;
	}
	.wrapper_what_task {
		margin-top: -60px;
	}
	.to_sell_button {
		padding: 29px 14px !important;
	}
	.out_batton {
		padding: 29px 14px !important;
	}
	.text_what_tas {
		margin-top: 86px;
	}
	.wrapper_sell_fast {
		margin-top: -25px;
	}
	.img_borderLeft {
		width: 1.5px;
	}
	.borderLeft {
		display: none;
	}
	.fon_text_sell_fast {
		font-size: 35px;
		margin-top: 105px;
	}
	.fon_text_new_regions {
		font-size: 35px;
		top: 105px;
		left: -20px;
	}
	.text_what_tas {
		line-height: 25px;
	}
	.main_new_regions_how_work {
		border: none;
		padding: 0px;
	}
	.new_regions_how_work_button {
		max-width: 100%;
		margin: 16px 0px 20px 0px;
		display: block !important;
		padding: 15px 12px !important;
		font-style: normal !important;
		white-space: normal !important;
	}
	.wrapper_region_complex {
		grid-template-columns: 1fr;
	}
	.how_work_limit_button {
		padding: 24px 20px !important;
	}
	.soglashenie {
		grid-template-columns: 1fr;
	}
	.ygl-b {
		position: absolute;
		height: 500px;
		z-index: 3;
		bottom: -181px;
		left: 41%;
		background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/225093/content_group_143.png) no-repeat -9% 114% /300px;
		width: 60%;
		z-index: 0;
	}
}
@media (max-width: 700px) {
	.wrapper_complex {
		background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/225089/content_frame_59.png) no-repeat 100% 0% / 86vw;
	}
	.heading__buttons {
		flex-direction: column;
		margin: -10px 0px;
		margin-top: 20px;
	}
	.heading_button {
		margin: 10px 0px;
		width: auto;
	}
}

@media (max-width: 600px) {
	.imgPosition_heading_complex2 {
		width: 61vw;
		margin-top: -42px;
	}
	/* .wrapper_complex {
        background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/185257/content_group_38.png) no-repeat 87% 20px / 346px, url(https://www.pulscen.ru/system/ckeditor_assets/pictures/185256/content_group_60.png) no-repeat 0% 0% / contain;
    } */
	.wrapper_tolbar_complex {
		background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/185309/content_frame_21_2.png) no-repeat 100% / cover;
		border-radius: 10px;
		margin-top: 35px;
		padding: 254px 21px 38px 20px;
	}
	.attention_tolbar_complex {
		line-height: 21px;
		padding-bottom: 7px;
	}
	.coll_tolbar_complex {
		padding-top: 20px;
	}
	.span_tolbar_complex {
		display: none;
	}
	.span_tolbar_complexMobil {
		display: block;
		font-size: 16px;
		line-height: 18px;
		letter-spacing: 0em;
		color: #ffffff;
		padding-top: 11px;
	}
	.collMe_futter_tolbar_complex {
		margin: 41px 0px 0px 0px;
		letter-spacing: 0.05em;
	}
	.img_new_regionsMobil {
		display: grid;
		justify-items: end;
	}
	.heading_text_heading_complex {
		font-size: 26px;
		margin-top: 6px;
		width: 338px;
	}
	.subtitle_dop {
		font-size: 16px;
	}
	.subtitle_sell_fast_limit {
		font-size: 16px;
	}
	.subtitle_limit {
		font-size: 16px;
	}
}

@media (max-width: 500px) {
	.imgPosition_heading_complex22 {
		top: 0;
		width: 300px;
		margin-bottom: 70px;
	}
	.ygl {
		position: absolute;
		height: 500px;
		z-index: 3;
		bottom: -38px;

		background: none;
		width: 100%;
		animation: ygl 2s linear infinite;
	}

	@keyframes ygl {
	}
	.width_img_sell_fastMobil {
		max-width: 74%;
	}
	.wrapper_sell_fast_dop {
		box-shadow: none;
	}
	.wrapper_sell_fast_limit {
		box-shadow: none;
	}
	.wrapper_sell_fast_dop {
		padding: 0px;
	}
	.fon_text_sell_fast {
		margin-top: 0px;
	}
	.how_work_dop_button {
		padding: 24px 15px !important;
		font-style: normal !important;
		white-space: normal !important;
	}

	.how_work_limit_button {
		padding: 24px 20px !important;
		font-style: normal !important;
		white-space: normal !important;
	}
	.wrapper_sell_fast_limit {
		padding: 0px;
	}
	.imgPosition_heading_complex22 {
		display: none;
	}
	.lodo_heading_content {
		width: 30%;
		padding-bottom: 13px;
	}
	.text_zona_heading_complex {
		grid-row-gap: 8px;
	}
	.heading_text_heading_complex {
		font-size: 20px;
		line-height: 29px;
	}
	.subtitle_text_heading_complex {
		font-size: 14px;
		width: 98%;
		line-height: 21px;
	}
	.text_what_tas {
		font-size: 16px;
		line-height: 22px;
		margin-top: 87px;
	}
	.to_sell_button {
		padding: 15px 18px !important;
		font-size: 14px !important;
		margin: 19px 0px 0px 0px;
	}
	.out_batton {
		margin: 19px 0px 0px 0px;
		padding: 15px 18px !important;
		font-size: 14px !important;
	}
	.borderLeft {
		display: none;
	}
	.fon_text_sell_fast {
		font-size: 31px;
		top: 42px;
		width: 146%;
		left: -27px;
	}
	.wrapper_sell_fast {
		margin-top: 1px;
	}
	.wrapper_sell_fast {
		padding: 0px;
	}
	.bg_sell_fast {
		padding: 0px 14px 17px 21px;
		background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/185324/content_2_1.png) no-repeat 100% / cover;
	}
	.width_img_sell_fastMobil {
		display: block;
		max-width: 74%;
		position: relative;
		left: 22px;
		top: 10px;
	}
	.width_img_sell_fastMobil1 {
		display: block;
		max-width: 74%;
		position: relative;
		left: 56px;
		top: 10px;
	}
	.heading_sell_fast {
		padding-top: 17px;
		padding-bottom: 19px;
	}
	.subtitle_sell_fastPadding10 {
		padding-top: 10px;
	}
	.subtitle_sell_fast {
		letter-spacing: 0em;
		padding-left: 4px;
		padding-top: 6px;
		line-height: 20px;
		padding-top: 0px;
	}
	.coll_sell_fast {
		padding-top: 6px;
		padding-bottom: 7px;
	}
	.img_sell_fast {
		padding-top: 3px;
		padding-bottom: 11px;
	}
	.text_sell_fast {
		padding-top: 7px;
		letter-spacing: 0em;
	}
	.accommodation_sell_fast {
		width: 96%;
	}
	.heading_how_work_sell_fast {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.main_how_work_sell_fast {
		padding: 0px;
		border: none;
	}
	.wrapper_sell_fast {
		background: none;
		box-shadow: none;
	}
	.textZona_wrapper_task_how_work_sell_fast {
		line-height: 21px;
		padding: 12px 22px;
		text-align: left;
		font-size: 14px;
		letter-spacing: 0em;
	}
	.textZona_text_task_how_work_sell_fast {
		font-size: 16px;
		padding-top: 18px;
	}
	.dotted_how_work_sell_fast {
		margin-top: 12px;
	}
	.img_how_work_sell_fast {
		display: none;
	}
	.img_how_work_sell_fastMobil {
		display: block;
		width: 100%;
	}
	.wrapper_how_work_sell_fast {
		padding-bottom: 29px;
	}
	.how_work_sell_fast_button {
		max-width: 360px;
		margin: 12px 0px 0px 0px;
		padding: 27px 14px !important;
		white-space: normal !important;
	}
	.fon_text_new_regions {
		font-size: 31px;
		top: 31px;
		width: 146%;
		left: -27px;
		line-height: normal;
	}
	.wrapper_new_regions {
		background: none;
		box-shadow: none;
		padding: 0px;
		margin-top: 21px;
	}
	.width_img_new_regionsMobil {
		display: block;
		width: 59%;
	}
	.width_img_new_regions2 {
		display: none;
	}
	.br_new_regions {
		padding: 28px 16px 23px 19px;
		background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/185324/content_2_1.png) no-repeat 100% / cover;
	}
	element.style {
		display: grid;
		justify-items: end;
	}
	.heading_new_regions {
		font-size: 16px;
		line-height: 24px;
		padding-top: 17px;
		letter-spacing: 0em;
	}
	.accommodation_new_regions {
		grid-template-columns: 1fr;
	}
	.img_new_regions {
		padding-top: 1px;
		padding-bottom: 9px;
	}
	.text_new_regions {
		font-size: 14px;
		padding-left: 0px;
		padding-top: 18px;
	}
	.wrapper_region_complex {
		grid-gap: 11px;
	}
	.coll_new_regions {
		padding-top: 16px;
	}
	.advantages_new_regions {
		padding-bottom: 0px;
	}
	.region_complex_claster {
		margin: 19px 0px 20px 0px;
	}
	.blocks_region_complex {
		padding: 8px 10px;
	}
	.heading_new_regions_how_work {
		font-size: 16px;
		padding-top: 13px;
		padding-bottom: 16px;
	}
	.wrapper_new_regions_how_work {
		grid-template-columns: 1fr;
		padding-bottom: 19px;
	}
	.main_new_regions_how_work {
		border: none;
		padding: 21px 0px 0px 0px;
	}
	.textZona_wrapper_task_new_regions_how_work {
		padding: 9px 24px;
		letter-spacing: 0em;
	}
	.textZona_text_task_new_regions_how_work {
		padding-top: 20px;
	}
	.textZona_text_task_new_regions_how_work {
		padding-top: 17px;
	}
	.dotted_new_regions_how_work {
		border-top: none;
		margin-top: 14px;
	}
	.heading_block_new_regions_how_work {
		padding-bottom: 14px;
	}
	.block_new_regions_how_work {
		padding: 20px 23px;
	}
	.line_block_new_regions_how_work {
		padding-top: 11px;
		margin-bottom: 0px;
	}
	.img_new_regions_how_work {
		display: none;
	}
	.img_new_regions_how_workMobil {
		display: block;
		width: 100%;
	}
	.note_new_regions_how_work {
		font-size: 12px;
		line-height: 21px;
		letter-spacing: 0em;
	}
	/* .wrapper_tolbar_complex {
        background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/185309/content_frame_21_2.png) no-repeat 100% / cover;
        border-radius: 10px;
        margin-top: 35px;
        padding: 254px 21px 38px 20px;
    }
    .attention_tolbar_complex {
        line-height: 21px;
        padding-bottom: 7px;
    }
    .coll_tolbar_complex {
        padding-top: 20px;
    }
    .span_tolbar_complex {
        display: none;
    }
    .span_tolbar_complexMobil {
        display: block;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0em;
        color: #FFFFFF;
        padding-top: 11px;
    }
    .collMe_futter_tolbar_complex {
        margin: 41px 0px 0px 0px;
        letter-spacing: 0.05em;
    }
    .img_new_regionsMobil {
        display: grid;
        justify-items: end;
    } */
}

@media (max-width: 400px) {
	.fon_text_sell_fast {
		font-size: 25px;
	}
	.content_wrapper_complex {
		padding: 45% 19px 147px 19px;
	}
	.ygl-b {
		position: absolute;
		height: 500px;
		z-index: 3;
		bottom: -181px;
		left: 43%;
		background: none;
		width: 54%;
		z-index: 0;
	}
}

@media (max-width: 380px) {
	.out_batton {
		white-space: normal !important;
	}
	.heading_text_heading_complex {
		font-size: 18px;
	}
	.heading_text_heading_complex {
		width: 285px;
	}
}

@media (max-width: 330px) {
	.heading_text_heading_complex {
		width: 277px;
	}
}

.menu_region_complexA .menu_region_complex {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	right: -5%;
}

.menu_region_complexMsc .menu_region_complex {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.menu_region_complexYR_Sib .menu_region_complex {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.menu_region_complexRos .menu_region_complex {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.menu_region_complexKras .menu_region_complex {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.menu_region_complexKrm .menu_region_complex {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.menu_region_complexPov .menu_region_complex {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.menu_region_complexUR .menu_region_complex {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.submenu_region_complex_odin .menu_region_complex {
	display: grid;
	grid-template-columns: 1fr;
}
