$corporate_color: #028dd8;
$main_text_color: #514e4e;

@mixin mainContent($size, $color) {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  font-size: $size;
  font-family: "Open Sans", sans-serif;
  color: $color;
  // font-family: "Montserrat", sans-serif;
}

@mixin content($padd...) {
  max-width: 1366px;
  width: 90%;
  margin: auto;
  padding: $padd;
}

@mixin gridRow($row...) {
  display: grid;
  grid-template-rows: $row;
}

p {
  margin-top: 0;
  margin-bottom: 0px;
}
//как использовать - main_content{@include mainContent}

.main_content {
  @include mainContent(16px, $main_text_color);
}
.positionI {
  position: inherit;
}

.heading_Button_white {
  padding: 20px 10px;
}

.one_window {
  .heading {
    font-size: 64px;
    padding: 80px 0 30px 0;
    font-weight: 800;
  }
  .subtitle {
    font-size: 32px;
  }
  @include content(130px 0);

  .img {
    position: absolute;
    background: #fff1f1;
    top: 0;
    height: 1050px;
    width: 900px;
    display: grid;
    align-items: center;
    justify-items: center;
    img {
      width: 690px;
      z-index: 2;
    }
  }
  .blue_block {
    margin-top: 120px;
    background: #3271d0;
    margin-left: -175px;
    padding: 80px 175px;
    color: white;
    position: relative;
  }
  .text_head {
    font-size: 24px;
    padding-bottom: 50px;
    max-width: 542px;
    width: 100%;
  }

  .heading_Button {
    color: #ffffff;
    background: inherit;
    border: 1px solid #ffffff;
  }
}

.sale_wrapperSlider {
  @include content(130px 0);
  background: #ffffff;
  border-radius: 3px;
  margin-top: 50px;
  .sale_sliderHeading {
    font-weight: 400;
    font-size: 36px;
    padding-bottom: 15px;
  }
  .sale_sliderHeading2 {
    line-height: 20px;
    font-size: 20px;
    color: #5e7491;
    width: 412px;
    padding-bottom: 50px;
  }
  .sale_sliderSubtitle {
    line-height: 27px;

    font-size: 16px;
  }

  .blog_case {
    background: #fff6f1;
    border-radius: 3px;
    grid-template-columns: 1.2fr 0.2fr 1.2fr;
    padding: 20px 0px 20px 0px;
    align-items: self-start;
    margin-top: 40px;
    display: none;
    margin-right: 100px;
  }
  .sale_paddingLeft40 {
    padding-left: 40px;
  }
  .paddingTop7 {
    padding-top: 7px;
  }
  .img {
    text-align: center;
    border: 1px solid #8695ac;
    height: 99px;
    width: 0px;
    margin: auto;
  }
  .paragraph {
    display: grid;
    font-size: 16px;
    color: #5e7491;
    grid-template-columns: 0.1fr 4fr;
    grid-row-gap: 5px;
  }
  .sale_gorizontImg {
    display: none;
  }
  .slider_img_rel {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #img_case0 {
    max-width: 100%;
  }
  .img_case {
    display: none;
  }
  .click {
    color: #656565;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    margin-bottom: 30px;
  }

  .click:hover {
    cursor: pointer;
  }
  #button_prev {
    color: #fff;
    font-weight: bold;
    margin-left: 8px;
  }
  #button_next {
    color: #fff;
  }
  .size {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background: #0492de;
    border: 1px solid #0492de;
    box-sizing: border-box;
    display: grid;
    align-items: center;
    justify-items: center;
  }
  .sectionn_SliderTop {
    display: grid;
    grid-template-columns: 10fr 1fr;
    align-items: end;
  }
}

.windiw_three_ {
  background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/210189/content_group_67.png)
    no-repeat 0% 206px;
  .content {
    @include content(0 0 0 0);
  }
  .heading {
    font-weight: 400;
    font-size: 36px;
    padding-bottom: 30px;
  }
  .subtitle {
    font-weight: 400;
    font-size: 25px;
    padding-top: 80px;
  }
  .pod {
    font-size: 16px;
  }
  .list {
    margin-top: 70px;
    margin-left: 117px;
    p {
      padding-bottom: 15px;
    }
    .heading_Button_white {
      margin-top: 30px;
    }
  }
}

.windiw_three_ridth {
  background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/210207/content_group_65.png)
    no-repeat 100% 130%;
  .content {
    @include content(130px 0);
  }
  .heading {
    font-weight: 400;
    font-size: 36px;
    padding-bottom: 30px;
  }
  .subtitle {
    font-weight: 400;
    font-size: 25px;
    padding-top: 80px;
  }
  .pod {
    font-size: 16px;
  }
  .list {
    margin-top: 70px;
    margin-left: 117px;
    p {
      padding-bottom: 15px;
    }
    .heading_Button_white {
      margin-top: 30px;
    }
  }
}

.conTH {
  @include content(130px 0);
}

.futer_main {
  background: #fff6f1;
  color: $main_text_color;
  margin-top: 130px;
}

.futer_main a {
  color: $main_text_color;
}

.sale_paddingLeft20 {
  padding-left: 20px;
}

@media (max-width: 1460px) {
  .imgSocSeti img {
    width: 37vw;
  }
  .one_window {
    @include content(50px 0 0 0);
    .img {
      justify-items: normal;
      align-items: normal;

      img {
        width: 43vw;
        padding-top: 70px;
      }
    }
    .heading {
      font-size: 48px;
    }
    .subtitle {
      font-size: 24px;
    }
    .blue_block {
      margin-top: 60px;
      padding: 60px 175px;
    }
    .text_head {
      font-size: 16px;
    }
    .img {
      height: 700px;
    }
  }
}

@media (max-width: 1200px) {
  .sale_wrapperSlider {
    @include content(80px 0 0 0);
    .blog_case {
      max-width: 962px;
      background: #f2f4f7;
      border-radius: 3px;
      grid-template-columns: 1fr;
      padding: 40px 20px 40px 0px;
      align-items: self-start;
      margin-top: 20px;
    }
  }
  .sale_paddingLeft20 {
    padding-left: 40px;
  }

  .wrapRew {
    flex-wrap: wrap-reverse;
  }

  .windiw_three_ {
    background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/210189/content_group_67.png)
      no-repeat 0% 96%;
    .content {
      @include content(60px 0 0 0);
    }
    .heading {
      font-weight: 400;
      font-size: 24px;
      padding-bottom: 30px;
    }
    .list {
      margin-top: 40px;
      margin-left: 20px;
    }
    img {
      width: 40vw;
    }
  }

  .windiw_three_ridth {
    background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/210207/content_group_65.png)
      no-repeat 100% 46%;
  }
  .img {
    display: none;
  }
  .sale_gorizontImg {
    display: block;
    height: 2px;
    background: #5e7491;
    width: 50%;
    margin: 30px auto;
  }
  .sectionn_SliderTop {
    grid-column-gap: 20px;
  }

  .windiw_three_ridth {
    .content {
      @include content(60px 0 0 0);
    }
  }

  .conTH {
    padding: 0px 0;
  }
  .windiw_three_ridth .subtitle {
    padding-top: 0px;
  }

  .windiw_three_ridth {
    .list {
      margin-top: 40px;
      margin-left: 20px;
    }
    img {
      width: 40vw;
    }
  }
  .futer_main {
    margin-top: 60px;
  }

  .sale_wrapperSlider {
    .sale_gorizontImg {
      display: block;
    }
  }

  .one_window {
    .img {
      position: relative;
      background: none;
      height: fit-content;
      justify-content: center;
      width: inherit;
    }
    .heading {
      font-size: 48px;
      padding: 40px 0 30px 0;
      font-weight: 800;
    }
    .heading_Button_white {
      padding: 20px 40px;
      margin-bottom: 32px;
    }
    .blue_block {
      margin-top: 60px;
      padding: 30px 0 30px 175px;
    }
  }
}

@media (max-width: 850px) {
  .paragraph {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .sale_wrapperSlider {
    .sectionn_SliderTop {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }
  .sale_wrapperSlider {
    .click {
      grid-template-columns: 0.1fr 1fr;
      grid-column-gap: 10px;
    }
    .blog_case {
      margin-right: 0px;
    }
  }

  .one_window {
    .heading {
      font-size: 32px;
      padding: 40px 0 30px 0;
      font-weight: 800;
    }
    .img img {
      width: 43vw;
      padding-top: 20px;
    }
  }
}
