.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  display: flex;
  overflow: hidden;
}

.block {
  background: rgb(151, 190, 8);
  height: 500px;
  margin-left: 30px;
  flex: 0 0 100%;
}

.block:last-child {
  background: red;
  height: 500px;
  flex: 0 0 100%;
}
